
{% extends 'base.html' %}

{% block title %}
  {{ data.title }}
{% endblock %}

{% block content %}


<div class="container-fluid ">
        
    
    <div class="row bg-pedro">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		
      		<div class="spa80">
      			

				    <h1 class="fc-b fw-b fs-3 text-s2">MyRing for Business</h1>
	      		<h2 class="fc-b fw-c fs-2 text-s2"><strong>The voice of your company</strong></h2>
            <hr/>
	      		<p class="fs-1-2 fc-b text-s2 pl-20">We live in an era where companies live and die by reviews. For everyone who has created a business, risked family savings and put thousands of hours of hard work to pursue a dream and a vision we have created this project
	      		
	      		 </p>
	      		
	      		
      		</div>
      		
      
      </div>
    </div>
    
    <div class="row spa40 bg-white">
      <div class="col-sm-offset-2 col-sm-7">
      	<h2 class="fw-a">

        Cut through the noise with accurate business facts 
        </h2>
        <br/>
        <p class="">Don't let poor photos, outdated info, and bad reviews define how you look on the internet, become your company's main source of information by providing complete business facts.
            
        </p>

        <div class="spa20">
          <img src="/static/images/graphics/mbf/cutnoise.png"  class="img-responsive" />
        </div>
        
          
        
        <!-- <p class="fs-1-5 lh-1">Stop relying on third parties to update your content and data, inform your customers directly into the apps they love.  </p> -->
        
      </div>
    </div>

    <div class="row spa60 bg-07">
      <div class="col-sm-offset-2 col-sm-5 bord-right">
      		
      		<h3 class="fw-a lh-1"> What is a <span class="fw-c">Business Profile</span>  ?</h3>
      		<br/>
      		<p class="fs-1">A Business Profile is a consolidation of your business facts (hours of operation, product specifications, stories behind your company,etc).  This profile is exclusively maintained by primary sources (such as managers, staff and experts) making it a high quality and preferred source of information.</p>
      		
      		
      </div>
      
      <div class="col-sm-offset-1 col-sm-4 spa30">
        <p class="fs-1">
          <img src="/static/images/graphics/mbf/diagnostic.png"  class="img-responsive" style="width:100px;" />
          <a href="/facts/bikethebigapple/view"> <i class="fa fa-file-text-o fa-1x"></i> See example of Profile</a>
        </p>
        <hr/>
      </div>

     <!--  <div class="col-sm-offset-1 col-sm-3 text-left bord-left">
      		<a href="https://avispa.myring.io/_widget/mbf_signup" class="btn btn-info"> Start today</a>

      		<br/><br/>
      		<div class="fs-1 fw-a text-gray">Start your Business Profile </div> 

      		<div class="fs-0-9 fw-a text-gray">-No credit Card required- </div>
      		<hr/>
      		<a class="" href="/faq">-how it works?</a>
          
      		
      </div> -->
    </div>
    
  
    
    <div class="row text-left bg-search">
      
      <div class="col-sm-offset-2 col-sm-5">
      
      		<div class="spa60">
	      		<h3 class="text-white">Why it's <strong>important</strong>?</h3>
            <br/>
	      		<p class="text-white">80% of online shoppers make quick researches before making any purchasing decision. They want to read reviews but also what drives the company (culture, history, charitable etc.). In a world of cold facts you can level the playing field by telling your story.</p>
      		</div>
      
      </div>
    </div>
    
    
    
    
    <div class="row text-left">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa80">
	      		<h3 >Take your company <span class="fw-c">to the next level</span></h3>
            <br/>
	      		<p>Engage across platforms, even the newest ones. When you tell the story behind your product you are making it easy for Search Engines, A.I. and Mobile Apps to understand it in great detail. <a class="" href="/faq">(how it works?)</a></p>
	      		
	      		<img src="/static/images/graphics/mbf/cheese.png"  class="img-responsive" />
	      		
	      		<!-- <a class="" href="https://avispa.myring.io/_widget/mbf_signup" style="float:right;">[ Sign up today. ]</a> -->
      		</div>
      
      </div>
    </div>
    
    <div class="row text-left bg-07">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h3 class="lh-1">But what if my company <strong>already has a website</strong>?</h3>
	      		<p>Great, having annotated Data in the form of a Business Facts Profile is the perfect complement to your already existent website. It can help boost your SEO(1) and will allow your product to gain access to next generation devices where a website simply can’t go. <a href="/faq">(how it works?)</a> </p>
	      		
	      		
	      		<img src="/static/images/graphics/mbf/lineweb.png"  class="img-responsive" />
	      		
	      		<p class="fs-0-7">(1. Google recently released rules establish that annotated websites will rank higher in results. MBF Provide website Annotation and API REST in the same service)</p>
	      		

            <!-- <hr/>
	      		
	      		<a href="https://avispa.myring.io/_widget/mbf_signup" class="btn btn-info"> Start today</a>
      			<span>Try it for free, no credit card required</span> -->
      			
      		</div>
      
      </div>
    </div>
    
    <div class="row text-left spa40">
      
      <div class="col-sm-offset-2 col-sm-8 text-left">
      
      		<div class="spa20">
	      		<h2 class="spa20">Some happy customers:</h2>

	      		<p class="fc-d"><em> (Business Owners)</em></p>
	      	
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We used to a have a passive role in the way Online Stores sell our hotel, now we can provide new photos, add new descriptions and be more proactive"</p><p><small>Carol R. / Owner, Compass Hotel</small></p></blockquote>
	      			</div>
	      		</div>
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We thought creating an App for mobile was the next step after building our website, thank god that was not the case, we are working with 8 apps and selling more than ever”</p><p><small>Andres G. / New Accounts, Shoesmatter</small></p></blockquote>
	      			</div>
	      		</div>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-2">
      
      		<div class="spa80">
	      		
	      		<img src="/static/images/graphics/f/cata1.png" class="img-responsive"/>
      		</div>
      
      </div>
      
      <div class="col-sm-6">
      
      		<div class="spa80">
	      		<h2 class="fw-a">Get ahead of the game, make <span class="fw-b">"Business Facts"</span> your biggest competitive advantage.</h2>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <!-- <div class="row bg-c">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h1 class="fc-a fw-c">Start today</h1>
	      		
	      		<p>You can try it for free for 30 days, and it's super accesible with plans starting at $9.99</p>

            <a href="https://avispa.myring.io/_widget/mbf_signup" type="submit" class="btn btn-default btn-lg">CREATE ACCOUNT</a>
	      		

      		</div>
      
      </div>
    </div> -->
    

</div>


{% endblock %}
