
{% extends 'base.html' %}

{% block title %}
  {{ data.title }}
{% endblock %}

{% block content %}


<div class="container-fluid ">
        
    
    <div class="row bg-pedro">
      
      <div class="col-sm-offset-3 col-sm-8 spa100">
      
      		<div class="spa10"></div>
      		<div class="">
				    <h1 class="fc-b fw-c fs-3 text-s2"><strong>Great Facts</strong> kill poor Reviews</h1>
	      	
            <hr/>
            <div class="row">
              <div class="col-sm-9">
                
                  <p class="fs-1-2 fc-b text-s2 pl-20XX">Don't let poor photos, outdated info, and bad reviews define how you look on the internet, become your company's <strong>main source of stories and facts </strong> and start engaging your customers in a more meaningful way.
                  </p>
                  
                  
              </div>
            </div>

            
      		</div>
      </div>
    </div>
    
<!--     <div class="row spa40 bg-white">
      <div class="col-sm-offset-2 col-sm-7">
        <br/>
        <div class="spa20">
          <img src="/static/images/graphics/mbf/cutnoise.png"  class="img-responsive" />
        </div>
        
        
      </div>
    </div> -->

    <div class="spa40 hidden-xs"></div>
    <div class="row">

      <div class="col-sm-offset-2 col-sm-4">
      		
      		<h3 class="fw-a lh-1"> What is <span class="fw-c"> a Business Fact</span>  ?</h3>
      		<br/>
      		<p class="fs-1">Business facts are everything related to your company, but most importantly <strong>stories behind it</strong>. Things that can show tradition, passion and dedication. Think at them as the human side of your business.</p>

          
           <img src="/static/images/graphics/mbf/cutnoise.png"  class="img-responsive spa20"/>
             
          
          
      </div>
      
      <div class=" col-sm-4 bord-left" style="padding-left:40px;">

          <span class="label label-default"><em>Some examples </em></span>
          <br/>

          <p class="fw-c spa20">The Beatles wrote the song "Michelle" while at the hotel, and took all the hangers from the closets when they left. <br/><span class="fw-a text-gray fs-0-8">- The Plaza Hotel</span></p>


          <p class="fw-c spa20">8,260 cups of coffee are served every day at Disney Magic Cruise <br/><span class="fw-a text-gray fs-0-8">- Disney Cruises</span></p>

          

          <p class="fw-c spa20">The logo, signage, bags, and uniforms were all designed by Pentagram in a project led by principal graphic designer Paula Scher.<br/><span class="fw-a text-gray fs-0-8">- Shake Shack</span></p>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-offset-2 col-sm-4">
          
          <hr/>
          <a href="/facts/bikethebigapple/view"> <i class="fa fa-file-text-o fa-1x"></i> See example of a Facts Profile</a>
        <!-- <a href="/facts/bikethebigapple/view" data-toggle="modal" data-target="#report"> <i class="fa fa-file-text-o fa-1x"></i> See example of completed facts</a> -->
      </div>
      
      <div class="col-sm-4">
          
        <hr/>
        <p class=" fs-1-5 fc-g">What are your business facts? </p>
          
      </div>
    </div>
    <div class="spa40 hidden-xs"></div>


    
  
    
    <div class="row text-left bg-search">
      
      <div class="col-sm-offset-2 col-sm-5">
      
      		<div class="spa60">
	      		<h3 class="text-white">Why it's <strong>important</strong>?</h3>
            <br/>
	      		<p class="text-white">80% of online shoppers make quick researches before making any purchasing decision. They want to read reviews but also what drives the company (culture, history, charitable etc.). In a world of cold facts you can level the playing field by telling your story.</p>
      		</div>
      
      </div>
    </div>
    
    
    
    
    <div class="row text-left">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa80">
	      		<h3 >Press, Online Stores and A.I. <span class="fw-c">crave Facts</span></h3>
            <br/>
	      		<p>Engage across platforms, even the newest ones. When you tell the story behind your product you are making it easy for Search Engines, A.I. and Mobile Apps to understand it in great detail. <a class="" href="/faq">(how it works?)</a></p>
	      		
	      		<img src="/static/images/graphics/mbf/cheese.png"  class="img-responsive" />
	      		
	      		<!-- <a class="" href="https://avispa.myring.io/_widget/mbf_signup" style="float:right;">[ Sign up today. ]</a> -->
      		</div>
      
      </div>
    </div>
    
    <div class="row text-left bg-07">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h3 class="lh-1">But what if my company <strong>already has a website</strong>?</h3>
	      		<p>Great, having annotated Data in the form of a Business Facts is the perfect complement to your already existent website. It can help boost your SEO(1) and will allow your product to gain access to next generation devices where a website simply can’t go. <a href="/faq">(how it works?)</a> </p>
	      		
	      		
	      		<img src="/static/images/graphics/mbf/lineweb.png"  class="img-responsive" />
	      		
	      		<p class="fs-0-7">(1. Google recently released rules establish that annotated websites will rank higher in results. MBF Provide website Annotation and API REST in the same service)</p>
	      		

            <!-- <hr/>
	      		
	      		<a href="https://avispa.myring.io/_widget/mbf_signup" class="btn btn-info"> Start today</a>
      			<span>Try it for free, no credit card required</span> -->
      			
      		</div>
      
      </div>
    </div>
    
    <div class="row text-left spa40">
      
      <div class="col-sm-offset-2 col-sm-8 text-left">
      
      		<div class="spa20">
	      		<h2 class="spa20">Some happy customers:</h2>

	      		<p class="fc-d"><em> (Business Owners)</em></p>
	      	
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We used to a have a passive role in the way Online Stores sell our hotel, now we can provide new photos, add new descriptions and be more proactive"</p><p><small>Carol R. / Owner, Compass Hotel</small></p></blockquote>
	      			</div>
	      		</div>
	      		
	      		<div class="row text-left spa10">
	      			<div class="col-sm-2">
	      			
	      			<i class="fa fa-smile-o fa-3x fc-g"></i>
	      			</div>
	      			<div class="col-sm-9">
	      				
	      				<blockquote><p class="fs-0-8">"We thought creating an App for mobile was the next step after building our website, thank god that was not the case, we are working with 8 apps and selling more than ever”</p><p><small>Andres G. / New Accounts, Shoesmatter</small></p></blockquote>
	      			</div>
	      		</div>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <div class="row text-left bg-e">
      
      <div class="col-sm-offset-2 col-sm-2">
      
      		<div class="spa80">
	      		
	      		<img src="/static/images/graphics/f/cata1.png" class="img-responsive"/>
      		</div>
      
      </div>
      
      <div class="col-sm-6">
      
      		<div class="spa80">
	      		<h2 class="fw-a">Get ahead of the game, make <span class="fw-c">"Business Facts"</span> your biggest competitive advantage.</h2>
	      		
      		</div>
      
      </div>
    </div>
    
    
    <!-- <div class="row bg-c">
      
      <div class="col-sm-offset-2 col-sm-8">
      
      		<div class="spa70">
	      		<h1 class="fc-a fw-c">Start today</h1>
	      		
	      		<p>You can try it for free for 30 days, and it's super accesible with plans starting at $9.99</p>

            <a href="https://avispa.myring.io/_widget/mbf_signup" type="submit" class="btn btn-default btn-lg">CREATE ACCOUNT</a>
	      		

      		</div>
      
      </div>
    </div> -->
    

</div>


{% endblock %}
