{% extends 'base.html' %}

{% block title %}
  My Ring 
{% endblock %}
         
{% block content %}



    <section class="bg-white top">
      <div class="container">

      


        <div class="row margin-40">
          <div class="spa50"></div>
          <div class="col-sm-offset-1 col-sm-10 margin-20 ">
            <h4 class="text-s2 fs-3 fw-a lh-1 fc-b pad-x-20 spa20 ">
              Why you need to start considering having an API and not a website:
            </h4>

            <br/><br/>
            <p class="lh-1-5 fs-1-5">1. Because data on an API can reach more places than a traditional website (including a website). With an API your data can flow into weareables, native apps, connected things and even Artificial Intelligence Systems.</p>
            
            
          </div>
          <div class="col-sm-offset-1 col-sm-10 spa30">
              <img class="img-responsive center-block" src="/static/images/graphics/ho_g4.png"/>
          </div>

          
        </div> 
        <div class="spa10"></div>
      </div>
    </section> 

    <!-- <section class="bg-07 ">
      	<div class="container spa40">
	        <div class="row">
	          <div class="col-sm-offset-2 col-sm-6" >
	            <h2 class="text-black" style="font-size:3em;">Start today for free</h2>
	              

	          </div>
            <div class="col-sm-4 bord-left spa40 p-30">
                
                  <button type="submit" class="btn btn-success btn-lg">CREATE ACCOUNT</button>
                  <p class="fs-1 text-gray">No commitment, no credit card required.</p>
                
            </div>
	        </div>

          
        </div>
      </div>
    </section> -->
      


    <section class="bg-white">
      <div class="row">
        
        <div class="col-sm-offset-1 col-sm-9 text-right">
            

            
            

          <div class="spa20"></div>
        </div>
      </div><!--end Row-->

        <div class="row spa20">
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-right">
            <h3 class="text-s2 lh-1">2. The traditional Website + SEO strategy is not enough anymore</h3>
            <br/>
            <p class="lh-1-5 fs-0-9">Websites, paid banners and SEO techniques belong to the desktop environment. Currently there are more mobile than desktop users and this will only increase dramatically over the next decade. </p>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <img class="img-responsive left-block" src="/static/images/graphics/graph1.png" style="width:300px;"/>
          </div>
        </div> 

        <hr/>

        <div class="row spa40">
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-center">
            <img class="img-responsive left-block" src="/static/images/graphics/graph2.png" style="width:300px;"/>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <h3 class="text-s2 lh-1">3. Having a responsive HTML+CSS website doesn’t make you mobile Friendly</h3>
            <br/>
            <p class="lh-1-5 fs-0-9">Mobile users spend only 14% of their time on  Mobile Device Browsers, even the best HTML+CSS responsive websites will miss 86% of the mobile user attention and 100% on any Weareable (yes, including the apple watch). 
            </p>
            
          </div>
        </div>

        <hr/>

        <div class="row spa40">
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-right">
            <h3 class="text-s2 lh-1">4. API's can convert competitors into partners </h3>
            <br/>
            <p class="lh-1-5 fs-0-9">
            The API helps turn your competitors into partners by allowing them to build solutions on top of your data & content. This concept lets partners leverage the existing capabilities of your company and allows you to open new and unexpected revenue streams.</p>
           
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <img class="img-responsive left-block" src="/static/images/graphics/cproduct.png" style="width:300px;"/>
          </div>
        </div> 

        <div class="row margin-40">
          <div class="col-sm-12">
              <div class="spa30"></div>
          </div>
        </div>
    


          
      </div>  
    </section>

  <!-- <section class="">
    
    <div class="row bg-c">
      
      <div class="col-sm-offset-2 col-sm-8">
      
          <div class="spa70">
            <h1 class="fc-b fw-c">Start with your business Facts today</h1>
            
            <p>Signing up is free and Business accounts start at $9.99</p>
            


            <a href="/_sandbox/mbf_signup" type="submit" class="btn btn-default btn-lg">CREATE ACCOUNT</a>


          </div>
      
      </div>
    </div>

  </section>  -->
    

  





    {% endblock %}


