@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);

/*TEXT */

h1{ font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;}
h2{ font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;}
h3{ font-family: 'Raleway', sans-serif; font-weight: 300; line-height:0.7em; text-transform: none;}
h4{ font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;}
h5{ font-family: 'Raleway', sans-serif; font-weight: 300; text-transform: none;}

p{ font-family: 'Roboto Slab', sans-serif; font-weight: 300;}





.r-font{ font-family: 'Roboto Slab', sans-serif; font-weight: 300;}
.text-s1{ font-family: 'Raleway', sans-serif; font-weight: 300;}
.text-s2{ font-family: 'Roboto Slab', sans-serif; font-weight: 300;}


.text-shadow1{text-shadow: -1px 0px 2px #444;}



.rotate90 {
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotate45 {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

a.nostroke{
  text-decoration: none;
  outline: none;}

/*link to black*/
a.toblack {
color: #969696;
transition: color 0.2s linear;
-o-transition: color 0.2s linear;
-moz-transition: color 0.2s linear;
-webkit-transition: color 0.2s linear;
text-decoration: none;
outline: none;
}
 
a.toblack:hover {
color: #000;
text-decoration: none;

}

a.toblack:hover {
color: #000;
text-decoration: none;

}

.btn-ring{font-family: 'Roboto Slab', sans-serif; font-weight: 300; padding:10px;}
.btn-ring2{
  font-family: 'Raleway', sans-serif;
   font-weight: 300; 
   padding:15px; 
   font-size:1.2em; 
   text-transform:none;
   border-radius: 20px;
 }

 .btn-ring3{
  font-family: 'Raleway', sans-serif;
   font-weight: 300; 
   padding:5px 15px; 
   font-size:1.2em; 
   text-transform:none;
   border-radius: 20px;
   background-color: #b2b2b2;
   color: #FFF;
 }

/* HOME SPECIFIC BACKGROUNDS*/




/* BACKGROUNDS*/

.bg-search{  
  background: url(/static/images/bg/handphone.jpg);
  background: url(/static/images/bg/handphone.jpg);
  background: url(/static/images/bg/handphone.jpg);
  background: url(/static/images/bg/handphone.jpg); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #ffe045; 
}




.border-a{border-color:#d40044;}
.border-b{border-color:#298fff;}
.border-c{border-color:#ffd033;}

.fatleft-a{border-left: 20px solid #d40044;}
.fatleft-b{border-left: 20px solid #298fff;}
.fatleft-c{border-left: 20px solid #ffd033;}





/*BUTTONS*/


.remove-s{
    -webkit-appearance: none;
    border: 0px solid #000;
    border-width: 0px 0px 1px 1px;
    background-color: #FFE045;

}


.remove-b{
    -webkit-appearance: none;
    border: 0px solid #000;
    background-color: #FFE045;
    padding: 10px;

}


/*PRICING*/

.bottom > * {
  vertical-align: bottom;
}




/*IMAGES*/

.logohead{width:130px; margin:40px;}
.logomenu{width:115px; margin:5px 0 3px 0;}




/*TABS*/

.tab-margin{margin:0 1px;}
.tab-section{margin:0 8px;}
.sol-box{padding:40px 50px 50px 100px;}
.det-box{padding:0;}

.label-mod{background-color: #CCC;}
.label-cap{background-color: #CCC;}
.label-exp{background-color: #CCC;}

/*.nav-tabs > li > a {
    border-color: red yellow orange;
    background-color:#CCC;
    padding: 0 90px;
}*/

.nav-tabs-hiw > li > a {
    background-color: #F7F7F7;
    padding:10px 0 10px 10px;
    width: 100%;
    border: 1px solid white;
    border-width: 1px 1px 0px 3px;
    border-radius: 10px 0px 0px 40px;
}


.tab-box-a{
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid white;
    border-width: 1px 1px 0px 3px;
    border-radius: 5px 30px 0px 0px;
    margin:0 1px;
    padding:0 5px 40px 5px; 
    width:32%; 
    float:right;
    background-color: #f0edeb;
}
.tab-box-a-mini{

    margin-right: 200px;
    line-height: 1.42857;
    border: 1px solid white;
    border-width: 9px 1px 0px 1px;
    border-radius: 5px 5px 0px 0px;
    margin:0 1px;
    padding:20px 5px 20px 5px; 
    width:10%; 
    position:absolute;
    bottom:0;
    right:39px; 
    background-color: #d8d8d8;
    box-shadow: -3px 0px 5px #AAAAAA;
}

.tab-box-b{
    padding:10px 40px ;
    height:50px;
    text-align: center;
    line-height: 1.3em;
}

.tab-box-c-mini{

    margin-right: 200px;
    line-height: 1.42857;
    border: 1px solid white;
    border-width: 1px 1px 0px 1px;
    border-radius: 5px 5px 0px 0px;
    margin:0 1px;
    padding:1px 5px 1px 5px; 
    width:25%; 
    position:absolute;
    bottom:0;
    right:-100px; 
    background-color: #d8d8d8;
    box-shadow: -2px 0px 2px #666;
}


.tab-on{background-color: white;}

.tb-mini{padding:0 5px 5px 5px;}


/*RIBBON*/

/*.box {
  width:150px;
  height:150px;
  background:#bcc;
  position: absolute;
  text-align: center;
  padding: 12px 0;
  left: 50px;
  -webkit-transition: all 0.5s ease;
}
.box:after {
  content:'';
  position: absolute;
  bottom:0;
  left:0;
  border-top:75px solid #bcc;
  border-right:75px solid #fff;
}
.box:before {
  content:'';
  position: absolute;
  bottom:0;
  right:0;
  border-top:75px solid #bcc;
  border-left:75px solid #fff;
}*/

/*BOX*/
.square{
    margin-top:10px;
    padding:50px;
    border: 1px solid lightgrey;
}

.pricebox{
    border: 1px solid #CCC;
    border-radius: 6px;
    padding:10px;
    margin: 10px;
}



/*SCROLLER STOP*/


.scro_container{/*margin:0 auto;*/}
  .scro_anchor{height:0px; margin:0; padding:0;}
  .scro{ /*z-index:300;*/ height:auto;}


/*VERTICAL LAIGNMENT*/


.valign-out{padding: 5% 0;}
.valign-in{padding: 10% 0;}


/*VIDEO*/


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 100px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.label_report {
    padding: 0.2em 0.6em 0.3em;
    margin:0 0.2em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #FFF;
    text-align: center;
    vertical-align: baseline;
    border-radius: 0.25em;
    width: 120px !important;

}


/*AFFIX*/



ul.affix {
  position: fixed; 
  top: 10px;
  right: 10px;
  width: 230px;
}
ul.affix-top {
  position: static;
}
ul.affix-bottom {
  position: absolute;
}
 
/* First level of nav */
.sidenav {
  margin-top: 110px; 
  margin-bottom: 30px;
  padding-top:    0px;
  padding-bottom: 10px;
  /*background-color: #f7f5fa;*/
  /*border-radius: 5px;*/
}
 
/* All levels of nav */
.sidebar .nav > li > a {
  display: block;
  color: #496175;
  padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #f7f5f0;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #143a60;
  background-color: transparent;
}
 
/* Nav: second level */
.sidebar .nav .nav {
  display: none;
}
.sidebar .nav > li.active .nav {
  display:block;
}
.sidebar .nav .nav {
  margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}
#content {
  margin-top:20px;
}



