<!-- JavaScript -->

<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.cookie.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.easing.js') }}"></script>


<script src="{{ url_for('static',filename='js/wow.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.isotope.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>


<!--[if lt IE 9]>
    <script src="{{ url_for('static',filename='js/html5shiv.js') }}"></script>
    <script src="{{ url_for('static',filename='js/respond.min.js') }}"></script>
<![endif]-->
