{% macro iconbig(title,icon,slug,size) %}
  <a id="pop" 
          href="/tools/{{ slug }}" 
          data-toggle="popover" 
          data-html="true" 
          data-content="<span class='text-s2'>{{ title }}</span>"
      >
      <img src="/static/images/icons/{{ icon }}" alt="{{ title }}" style="width:{{ size }}px;">
  </a>

{% endmacro %}

{% macro ringtab(tab) %}  <!-- repeated please fix -->
  {% if tab=='mod' %}
    <span class="label bg-a">Data Modeling tool</span>
  {% elif tab=='cap' %}
    <span class="label bg-b">Data Capture tool</span>
  {% elif tab=='sha' %}
    <span class="label bg-c">Data Sharing tool</span>
  {% else %}
    <span class="label bg-default">{{ tab }}</span>
  {% endif %}
{% endmacro %}

{% macro ringborder(tab) %}  <!-- repeated please fix -->
  {% if tab=='mod' %}
    fatleft-a
  {% elif tab=='cap' %}
    fatleft-b
  {% elif tab=='sha' %}
    fatleft-c
  {% else %}
  {% endif %}
{% endmacro %}


data['dict1'] = {'en': 'Hello', 'sp': 'Hola', 'fr': 'Salut’}



{% macro soluredux(x1,x2,x3,x4,x5,x6,x7,x8,bg) %}

<div class="row {{ bg }} {{ ringborder(x5) }}">
              <div class="col-sm-offset-1 col-sm-2 text-center">
                <div class="spa30"></div>
                <a href="/tools/{{ x8 }}">
                <img class="img-responsive center-block" src="/static/images/icons/{{ x6 }}" style="width:100px;" />
                </a>
              </div>
              <div class="col-sm-9 text-left">
                

                <span style="float:right; padding-top:20px;">
                  {{ ringtab(x5) }}
                </span><br/>
                <hr/>
                <a class="toblack" href="/tools/{{ x8 }}">
                  
                  <h3 class="text-solut">{{ x1 }} </h3>

                  <h4 class="text-lgray">{{ x2 }}</h4>
                  
                  
                  <div class="spa5 clearboth"></div>
                  <div class="text-solut2">
                    {{ x3 }}
                      <div class="spa5"></div>
                  </div>
                  <div class="text-s2" style="width:70%;">{{ x4|truncate(300, True, '...[read more]') }}</div>
                    <h3 style="float:right; padding-right:10%;">More Info <i class="fa fa-arrow-right"></i></h3>
                    <div class="spa30"></div>
            </a>  
              </div>
          </div>
          <div class="rhr4"></div>

{% endmacro %}

{% macro gotodoc(color) %}  <!-- repeated please fix -->
   <!-- <a href="/doc" class="label label-mod">Go to Full Documentation <i class="fa fa-book"></i></a> -->
{% endmacro %}

{% macro gotofaq(color) %}  <!-- repeated please fix -->
    <a href="/faq" class="label label-warning bg-{{color}}">Frequent Asked Questions <i class="fa fa-arrow-right"></i></a>
{% endmacro %}
{% macro gotohiw(color) %}  <!-- repeated please fix -->
    <a href="/how" class="label label-success bg-{{color}}">How it works <i class="fa fa-arrow-right"></i></a>
{% endmacro %}

{% macro footer() %}
<section class="bg-07">
      <div class="container">
        
        <div class="row margin-5">
          <!--Section-->
          <div class="col-sm-3 margin-20 text-center">
            <a href="/solutions/model">
            <h3 class="text-dgray fw900" >Model <span class="text-lgray">Data</span></h3>
            </a>
            <div class="rhr4 bg-gray"></div>
            <div class="spa10"></div>
            

            {{ iconbig(insects.spid.title, insects.spid.icon, insects.spid.slug,'15') }}
            {{ iconbig(insects.cica.title, insects.cica.icon, insects.cica.slug,'15') }}

            <a href="/solutions/capture">
            <h3 class="text-dgray fw900" >Capture <span class="text-lgray">Data</span></h3>
            </a>
            <div class="rhr4 bg-gray"></div>
            <div class="spa10"></div>
            

            {{ iconbig(insects.dfly.title, insects.dfly.icon, insects.dfly.slug,'15') }}
            {{ iconbig(insects.ants.title, insects.ants.icon, insects.ants.slug,'15') }}
            {{ iconbig(insects.mosq.title, insects.mosq.icon, insects.mosq.slug,'15') }}
            {{ iconbig(insects.worm.title, insects.worm.icon, insects.worm.slug,'15') }}

            <a href="/solutions/share">
            <h3 class="text-dgray fw900" >Share <span class="text-lgray">Data</span></h3>
            </a>
            <div class="rhr4 bg-gray"></div>
            <div class="spa10"></div>
            

            {{ iconbig(insects.bees.title, insects.bees.icon, insects.bees.slug,'15') }}
            {{ iconbig(insects.lbug.title, insects.lbug.icon, insects.lbug.slug,'15') }}
            {{ iconbig(insects.bfly.title, insects.bfly.icon, insects.bfly.slug,'15') }}


          </div>

      
          <div class="col-sm-8 text-left">

          <div class="spa5"></div>
            <h2><a href="/how"><i class="fa fa-arrow-right text-gray"></i> See in detail how the Data Suite works </a></h2>

            <h2><a href="/faq"><i class="fa fa-arrow-right text-gray"></i> Frequent Asked Questions </a></h2>

            <h2><a href="/ecosystem"><i class="fa fa-arrow-right text-gray"></i> Check our infographic that explains Rings </a></h2>

            <br/>
           
          </div>
          
        </div>
      </div>
    </section> 

{% endmacro %}

{% macro cta1() %}
    <section id="header" class="bg-yellow">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-7 text-left">
            <div class="spa40"></div>
            <h3 class="text-black " style="font-size:6em; line-height:0.8em;">Sign Up <br/> for our Beta</h3>
            <div class="spa20"></div>

            
            <form action='/thankyou' method='post'/>
                <h2 class="text-white lh-1" style="font-size:3em;">Name: <br/><span class="text-white">
                <input name="name" type="search" placeholder="Your name" class="text-gray remove-s"/></span></h2>

                <h2 class="text-white lh-1" style="font-size:3em;">email: <br/><span class="text-white">
                <input name="email" type="search" placeholder="Your email" class="text-gray remove-s"/></span></h2>



                <h2 class="text-white lh-1" style="font-size:3.5em; float:right;">
                <input type="submit" value="go" class="remove-b text-black">
                </h2>
            </form>

            <div class="spa20 clearboth"></div>

        </div>
      </div>  
    </section> 
{% endmacro %}

{% macro cta2() %}
    <section id="header" class="bg-yellow">
      <div class="row">
          <div class="col-sm-12">
              <div class="spa20"></div>
          </div>
        </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-9 text-left">
            <div class="spa5"></div>
            <h3 class="text-black " style="font-size:3em; line-height:0.8em;">Sign Up for our Beta</h3>
        </div>
      </div>
      <div class="row">

        <form action='/thankyou' method='post'/>
          <div class="col-sm-offset-2 col-sm-4 text-left">
              <h2 class="text-white lh-1" style="font-size:2em;">Name: <br/><span class="text-white">
              <input name="name" type="search" placeholder="Your name" class="text-gray remove-s"/></span></h2>
          </div>
          <div class="col-sm-4 text-left">
              <h2 class="text-white lh-1" style="font-size:2em;">e.mail: <br/><span class="text-white">
              <input name="email" type="search" placeholder="Your email" class="text-gray remove-s"/></span></h2>
          </div>
          <div class="col-sm-1 text-left">
              <h2 class="text-white lh-1" style="font-size:3em; float:right;">
              <input type="submit" value="go" class="remove-b text-black">
              </h2>
          </div>  
        </form>
        <div class="row">
          <div class="col-sm-12">
              <div class="spa20"></div>
          </div>
        </div>
    </section> 
{% endmacro %}






<!-- ::::::BUSINESS FACTS REPORT:::::::::::::::::: --> 
<!-- ::::::BUSINESS FACTS REPORT:::::::::::::::::: --> 
<!-- ::::::BUSINESS FACTS REPORT:::::::::::::::::: --> 



<!-- GENERATES THE HEADER WITH COMPANY INFO -->
 {% macro BizHead(data) %}
  <div class="row">
      <div class="col-sm-offset-1 col-sm-12">
        <h4 class="fc-g"><span class="label label-vader">Business Facts</span></h4>
          
        <h1 class="fc-b fw-c fs-3 {{ status_text(data.S_Name) }} " id="sec0">{{ data.Name }}</h1>
        
        <p class="fc-b fs-1-2"> 
          {% if data.Address %}
          <span class="{{ status_text(data.S_Address) }}">{{ data.Address }},</span>
          {% else %}
          {% endif %}

          {% if data.City %}
          <span class="{{ status_text(data.S_City) }}">{{ data.City }},</span>
          {% endif %}

          {% if data.State %}
          <span class="{{ status_text(data.S_State) }}">{{ data.State }},</span>
          {% endif %}

          {% if data.Zip %}
          <span class="{{ status_text(data.S_Zip) }}">{{ data.Zip }},</span>
          {% endif %}

        </p>
        {% if data.Website %}
          <span class="{{ status_text(data.S_Website) }}"><strong><i class="fa fa-globe pad-x-4"></i></strong> {{ data.Website }}</span>
        {% endif %}

        {% if data.Phone %}
          |<span class="{{ status_text(data.S_Phone) }}" ><strong><i class="fa fa-phone pad-x-4"></i></strong> {{ data.Phone }}</span>
        {% endif %}

        {% if data.Mail %}
          |<span class="{{ status_text(data.S_Mail) }}"><strong><i class="fa fa-envelope pad-x-4"></i></strong> {{ data.Mail }}</span>
        {% endif %}

        {% if data.SM1 %} 
        | <a class="{{ status_text(data.S_SM1) }}" href="{{ data.SM1 }}"> <i class="fa fa-twitter pad-x-4"></i> </a> 
        {% endif %}

        {% if data.SM2 %} 
        | <a class="{{ status_text(data.S_SM2) }}" href="{{ data.SM2 }}"> <i class="fa fa-facebook pad-x-4"></i> </a>
        {% endif %}

        {% if data.SM3 %} 
        | <a class="{{ status_text(data.S_SM3) }}" href="{{ data.SM3 }}"> <i class="fa fa-youtube pad-x-4"></i></a>
        {% endif %}

        {% if data.SM4 %} 
        | <a class="{{ status_text(data.S_SM4) }}" href="{{ data.SM4 }}"> <i class="fa fa-instagram pad-x-4"></i></a>
        {% endif %}
        
      </div>
  </div><!-- close row -->
{% endmacro %}

{% macro status_text(code) %}

    {% if code==1 %} tst-1 
    {% elif code==2 %} tst-2
    {% elif code==3 %} tst-3
    {% elif code==4 %} tst-4
    {% elif code==5 %} tst-5
    {% elif code==6 %} tst-6
    {% else %} {% endif %}
    
      
{% endmacro %}

{% macro status_label(code) %}

    {% if code==1 %} lst-1 
    {% elif code==2 %} lst-2
    {% elif code==3 %} lst-3
    {% elif code==4 %} lst-4
    {% elif code==5 %} lst-5
    {% elif code==6 %} lst-6
    {% else %} {% endif %}
    }
      
{% endmacro %}



<!-- ::::::::::::::::FACT CARDS:::::::::::::::::: --> 
<!-- ::::::::::::::::FACT CARDS:::::::::::::::::: --> 
<!-- ::::::::::::::::FACT CARDS:::::::::::::::::: --> 
<!-- ::::::::::::::::FACT CARDS:::::::::::::::::: --> 



<!-- ///////// FC  GENERIC //////////////////////// --> 


{% macro FactCard(thisData) %}

  {% for x in thisData %}      
    
    <div class="row">
      <div class="col-sm-12">

        {% if x.fc_Title %}
         {{ fm_Title(x.fc_Title,'') }}
        {% endif %}

        {% if x.fc_SubTitle %}
          {{ fm_SubTitle(x.fc_SubTitle,'') }}
        {% endif %}
        
        {% if x.fc_Specs %}
          {{ fm_Specs(x.fc_Specs, '') }}           
        {% endif %}

        
        {% if x.fc_Descriptions %}
          {{ fm_LangVersions(x.fc_Descriptions, '', x.fc_DescriptionsSize) }}
        {% endif %}


        {% if x.fc_SmartPhotos %}
            {{ fm_SmartPhotos(x.fc_SmartPhotos, x.fc_Owner, '','100','left' ) }}
         
        {% endif %}
            
         
        {% if x.fc_Tags %}
          {{ fm_ammenities(x.fc_Tags, name, '') }}
          <hr/>
        {% endif %}
        
        {% if x.fc_Links %}
          {{ fm_Links(x.fc_Links, '') }}  
          <hr/>         
        {% endif %}
        
        {% if x.fc_Schedule %}
          {{ fm_Schedule(x.fc_Schedule, 'Schedule') }}
        {% endif %}

        {% if x.fc_List %}
          {{ fm_List(x.fc_List, '') }}
        {% endif %}
          
        {% if x.fc_SmallNotes %}
          {{ fm_SmallNotes(x.fc_SmallNotes, '') }}           
        {% endif %}
          



      </div>
    </div> <!-- close row -->
    {% endfor %}

{% endmacro %}


<!-- ///////// FC  SERVICE //////////////////////// --> 


{% macro FactCard_Services(thisData) %}

  {% set count = 1 %}

  {% for x in thisData %}      
  <section id="service{{ count }}">  
    <div class="row box box-widget bw-9 bord-left bc-8" style="padding:10px 20px 20px 20px" >
          
     <div class="col-sm-12">
          
      </div>
      <div class="col-sm-12">
          <div class="label label-vader" style="margin-left:-55px;"><i class="fa fa-arrow-right"></i> {{x.fc_Category}} </div>

        {% if x.fc_Title %}
          <span>
            {{ fm_Title(x.fc_Title,'','', status_text(x.S_fc_Title)) }} 
          </span>
        {% endif %}

        {% if x.fc_SubTitle %}
          <span>
            {{ fm_SubTitle(x.fc_SubTitle,'','',status_text(x.S_fc_Title)) }}
          </span>
        {% endif %}

      </div>
          
      <div class="col-sm-7">
        
        {% if x.fc_Specs %}
            <span class="{{ status_text(x.S_fc_Specs) }}" >
            {{ fm_Specs(x.fc_Specs, '') }} 
            </span>          
        {% endif %}

        {% if x.fc_Descriptions %}
          {{ fm_LangVersions(x.fc_Descriptions, '') }}
        {% endif %}

        <div class="row">
          <div class="col-sm-12">
            <hr/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            {% if x.fc_Schedule %}
              {{ fm_Schedule(x.fc_Schedule, 'Schedule') }}
            {% endif %}
            <hr/>
            {% if x.fc_Tags %}
              {{ fm_Tags(x.fc_Tags, '') }}
            {% endif %}

          </div>
          
          
          <div class="col-sm-6">
            {% if x.fc_SmallNotes %}
              <span class="{{ status_text(x.S_fc_SmallNotes) }}" >
              {{ fm_SmallNotes(x.fc_SmallNotes, '') }}    
              </span>       
            {% endif %}
          </div>
        </div>
 
      </div>
      <div class="col-sm-5">
        {% if x.fc_SmartPhotos %}
            {{ fm_SmartPhotos(x.fc_SmartPhotos, x.fc_Owner, '','100','left' ) }}
        {% else %}
          <spa class="label lst-4">No photos</spa>
        {% endif %}

         {% if x.fc_Photos %}
            {{ fm_Photos(x.fc_Photos, x.fc_Owner, '','100','left' ) }}
         {% endif %}
      </div>

      <div class="col-sm-12">
          <div class="spa20"></div>
      </div>
    </div> <!-- close row -->
  </section>

      {% set count = count + 1 %}
    {% endfor %}

{% endmacro %}


<!-- ///////// FC  ROOMS //////////////////////// --> 


{% macro FactCard_Rooms(thisData) %}

  {% set count = 1 %}

  {% for x in thisData %}      
  <section id="room{{ count }}"> 

    <div class="row box box-widget bw-9 bord-left bc-8" style="padding:10px 20px 20px 20px" >
          
      <div class="col-sm-12">
          <div class="spa10"></div>
      </div>
      <div class="col-sm-12">
          <div class="label label-vader" style="margin-left:-55px;"><i class="fa fa-arrow-right"></i> {{x.fc_Category}} </div>

          {% if x.fc_Title %}
         {{ fm_Title(x.fc_Title,'') }}
        {% endif %}

      </div>
          
      <div class="col-sm-7">
        
        {% if x.fc_Specs %}
          {{ fm_Specs(x.fc_Specs, '') }}           
        {% endif %}

        {% if x.fc_Descriptions %}
          {{ fm_LangVersions(x.fc_Descriptions,'') }}
        {% endif %}

        <div class="row">
          <div class="col-sm-12">
            <hr/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {% if x.fc_Tags %}
              {{ fm_Tags(x.fc_Tags, '') }}
            {% endif %}
          </div>

        </div>
 
      </div>
      <div class="col-sm-5">
         {% if x.fc_Photos %}
            {{ fm_SmartPhotos(x.fc_SmartPhotos, x.fc_Owner, '','100','left' ) }}
         {% endif %}
      </div>

      <div class="col-sm-12">
          <div class="spa20"></div>
      </div>
    </div> <!-- close row -->

    </section>

      {% set count = count + 1 %}
    {% endfor %}

{% endmacro %}





<!-- ::::::::::::::::FACT MODULES:::::::::::::::::: --> 
<!-- ::::::::::::::::FACT MODULES:::::::::::::::::: --> 
<!-- ::::::::::::::::FACT MODULES:::::::::::::::::: --> 



{% macro fm_Title(text,icon,size,color) %}

  <h3 class="fw-c lh-1 {{color}}">{{text}}</h3>
{% endmacro %}

{% macro fm_SubTitle(text,icon,size,color) %}
  <!-- <span class="pull-right"><i class="fa fa-question-circle fc-l"></i></span> -->
  <h4 class="fw-c fc-l fs-1-2 {{color}}">{{text}}</h4>
  <br/>
{% endmacro %}


<!-- langData behaves like fm.list -->
{% macro fm_LangVersions(langData, name, fsize) %}

  <div class="row">
    <div class=" col-sm-12">
      {% if name %}<p>{{name}}</p>{% endif %}
      <div role="tabpanel" id="{{ tabid }}">
        <!-- Nav tabs -->
        <!-- SE ARMAN LOS TABS CON LAS INICIALES -->
        <ul class="nav nav-tabs" role="tablist">

          {% set n1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]|random %}
          {% set n2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]|random %}
          {% set n3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]|random %}

          {% set setid = n1 * n2 * n3  %}

          {% set cuenta = 1 %}
          {% for key in langData|sort %}
            {% for z in key[1] %}
              
                <li role="presentation" class="{% if cuenta==1 %} active {% endif %}">
                  <a href="#{{ setid }}_{{cuenta}}" role="tab" data-toggle="tab">
                    <span class="fc-b label {{ status_label(langData[key][1]) }} "> 
                    {{ langData[key][0]|upper }} </span>
                  </a>
                </li>

              
            {% endfor %}
            {% set cuenta = cuenta + 1 %}
          {%endfor%}  


        </ul>

        <!-- SE ARMAN LOS CONTENIDOS -->
        <div class="tab-content fs-0-9">
          
          {% set cuenta = 1 %}
          {% for key in langData|sort %}
            
            <div role="tabpanel" class="tab-pane spa10 pl-30 {% if cuenta==1 %} active {% endif %} " id="{{ setid }}_{{cuenta}}">
                <span class="text-gray {% if fsize =='2' %} fs-2 {% endif %} {{ status_text(langData[key][1]) }}">  
                  {{ langData[key][2]}}
                </span>
                
            </div>
            {% set cuenta = cuenta + 1 %}
          {%endfor%} 
  
        </div>
      </div> <!-- close tab panel --> 
    </div>
  </div>


{% endmacro %}


{% macro fm_Specs(specsData, name)%}
    {% if name %}<p>{{name}}</p>{% endif %}

    {% for key in specsData|sort %}
      {% for y in key[1] %}
        
          | <span class="fw-c"> {{ specsData[key][0]}}: </span>
          <span class=""> {{ specsData[key][1]}}  </span>
        
      {% endfor %}
    {%endfor%} 
    <hr/>            
{% endmacro %}



{% macro fm_List(ListData) %}
  <div class="col-sm-12">
      
      {% for key in ListData %}
        {% for z in key[1] %}
          

            <span class="fw-c"> {{ ListData[key][0]}}: </span>
            <span class=""> {{ ListData[key][1]}} </span>
            <br/>
          
        {% endfor %}
      {%endfor%}   
      <hr/>       
              
  </div>
{% endmacro %}

{% macro fm_SmartPhotos(photoData, owner, name,size,float)%}
  <div class="row">

    <div class="col-sm-12">
      {% if name %}<p>{{name}}</p>{% endif %}

      {% for key in photoData %}
        {% for z in key[1] %}
          
            <div style="width:{{size}}px; float:{{float}}; padding:0 2px;">
              <a href="https://avispa.myring.io/_images/{{ owner }}/o/{{ photoData[key][1]}}_o.jpg" class="text-left" target="_blank">
                <img src="https://avispa.myring.io/_images/{{ owner }}/t150/{{ photoData[key][1]}}_t150.jpg" class="img-responsive">
              </a>
              {% if mask =='mbf' %} 
                <div style="margin-top:-25px; margin-bottom:10px;">
                  {{ labelPhoto(photoData[key][0], photoData[key][2]) }}
                </div>
              {% endif %}
            </div>
          
        {% endfor %}
      {%endfor%} 


      
      
    </div>
    <div class="col-sm-12">

    </div>
  </div>
{% endmacro %}


{% macro fm_Photos(photoData, owner, name,size,float)%}
  <div class="row">

    <div class="col-sm-12">
      {% if name %}<p>{{name}}</p>{% endif %}

      {% for item in photoData %}

          <div style="width:{{size}}px; float:{{float}}; padding:0 2px;">
            <a href="https://avispa.myring.io/_images/{{ owner }}/o/{{item}}_o.jpg" class="text-left" target="_blank">
              <img src="https://avispa.myring.io/_images/{{ owner }}/t150/{{item}}_t150.jpg" class="img-responsive">
            </a>
            <div style="margin-top:-25px; margin-bottom:10px;">
              {{ labelRes(1, 'ok-res') }}
            </div>
            
          </div>
                    
      {% endfor %} 
      
    </div>
    <div class="col-sm-12">

    </div>
  </div>
{% endmacro %}

{% macro fm_Tags(tagsData, name) %}

  {% if name %}<p>{{name}}</p>{% endif %}
  <table class="table table-condensed table-striped">
    {% for y in tagsData %} 
      <tr>
        <td align="right">
          <div class="fw-c fs-0-8">{{ y.name }}</div>
        </td>
        <td>
            {% for item in y.list %}
            {{ labelRes(4, item , y.status) }} 
            {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endmacro %}

{% macro fm_ammenities(tagsData, name, color) %}

  {% if name %}<p>{{name}}</p>{% endif %}
  <table class="table table-condensed table-striped">
    {% for y in tagsData %} 
      <tr>
        <td align="right">
          <div class="fw-c fs-0-8">{{ y.name }}</div>
        </td>
        <td>
            {% for item in y.list %}
            {{ labelAmmenity(1, item, y.color) }} 
            {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endmacro %}



{% macro fm_Links(linksData, name)%}

    {% if name %}<p>{{name}}</p>{% endif %}

    {% for key in linksData|sort %}
      {% for y in key[1] %}
        
        | <a href="{{ linksData[key][1]}}">
          {{ linksData[key][0]}}
        </a>

      {% endfor %}
    {%endfor%} 
            
{% endmacro %}

{% macro fm_Schedule(scheduleData, name) %}
  <div class="row">
    <div class="col-sm-12">
      {% if name %}<p>{{name}}</p>{% endif %}
    </div>
    <div class=" col-sm-offset-1 col-sm-11">
      <table>
        {% for key in scheduleData|sort %}
        <tr>  

          {% for hours in key[1] %}
            <td>
              <span class="label label-info {{ status_label(scheduleData[key][3]) }}"> {{ scheduleData[key][0]}} </span>
            </td>
            <td>
                <span class="{{ status_text(scheduleData[key][3]) }}"> 
                 &nbsp; {{ scheduleData[key][1]}} |  {{ scheduleData[key][2]}}
                </span>
            </td>
          {% endfor %}

        </tr>
        {%endfor%} 
      </table> 
     
    </div>
  </div>
{% endmacro %}

{% macro fm_List(ListData, name) %}
  <div class="col-sm-12">
      {% if name %}<p>{{name}}</p>{% endif %}
      {% for key in ListData %}
        {% for z in key[1] %}
          
            <span class="fw-c"> {{ ListData[key][0]}}: </span>
            <span class=""> {{ ListData[key][1]}} </span>
            <br/>
          
        {% endfor %}
      {%endfor%}   
      <hr/>       
              
  </div>
{% endmacro %}

{% macro fm_SmallNotes(smallData, name) %}
  <div class="col-sm-12">

      {% if name %}<p>{{name}}</p>{% endif %}

      {% for key in smallData %}
        {% for z in key[1] %}
          <div class="fs-0-7">
            <span class="fw-c"> {{ smallData[key][0]}}: </span>
            <span class=""> {{ smallData[key][1]}} </span>
            <br/>
          </div>
          
        {% endfor %}
      {%endfor%}   
      <hr/>       
              
  </div>
{% endmacro %}


<!-- ::::::::::::::::FACT MODULE HELPERS:::::::::::::::::: --> 


<!-- Generates the PhotoMosaic -->
{% macro PhotoMosaic(owner,item,size,float) %}


        <div style="width:{{size}}px; float:{{float}}; padding:0 2px;">
          <a href="https://avispa.myring.io/_images/{{ owner }}/o/{{item}}_o.jpg" class="text-left" target="_blank">
               <img src="https://avispa.myring.io/_images/{{ owner }}/t150/{{item}}_t150.jpg" class="img-responsive">

          </a>
          <div style="margin-top:-25px; margin-bottom:10px;">
            {{ labelRes(1, 'ok-res') }}
          </div>
          
        </div>

{% endmacro %}



{% macro lorem() %}
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius risus sed purus egestas dictum. Integer enim lectus, elementum faucibus odio nec, scelerisque scelerisque sapien. Duis facilisis odio arcu, sed euismod dui accumsan in. Pellentesque a leo in massa rhoncus pretium. Suspendisse a dictum sem, nec malesuada enim. Mauris non nisl quis nulla laoreet lobortis quis nec justo. Mauris dictum mauris erat. Pellentesque vel hendrerit urna. Aliquam sollicitudin non ex quis accumsan. Suspendisse tincidunt quam urna, ut scelerisque lorem malesuada sed. 
</p>
{% endmacro %}

{% macro flag01(text) %}
  <span style="background-color:yellow;">{{ text }}</span>
{% endmacro %}



{% macro labelRes(q, text, s) %}
  <span class="label label_report
    {% if q==1 %} label-success
    {% elif q==2 %} label-warning
    {% elif q==3 %} label-danger
    {% else %} label-default
    {% endif %} 

    {{ status_label(s) }}
    inline-block
    " >{{ text }}</span>
{% endmacro %}


{% macro labelPhoto(q, text) %}

{% if q==1 %}
  <spa class="label lst-1">hi res</spa>
{% elif q==2 %}
  <spa class="label lst-2">ok res</spa>
{% elif q==3 %}
  <spa class="label lst-3">review</spa>
{% elif q==4 %}
  <spa class="label lst-4">low res</spa>
{% elif q==5 %}
  <spa class="label lst-5">outdated</spa>
{% elif q==6 %}
  <spa class="label lst-6">No Photos</spa>
{% endif %}

{% endmacro %}



{% macro labelAmmenity(q, id, status) %}

  <span class="label_report
    {% if q==1 %} label-success
    {% elif q==2 %} label-warning
    {% elif q==3 %} label-danger
    {% else %} label-default
    {% endif %} 
    
    {{ status_label(status) }}

    inline-block
    ">
  
    {% if id=='a_001' %}Business Center
    {% elif id=='a_002' %}Meeting Rooms
    {% elif id=='a_003' %}Convention Space

    {% elif id=='b_001' %}Hair Salon
    {% elif id=='b_002' %}Nails Salon
    {% elif id=='b_003' %}Barber Shop

    {% elif id=='c_001' %}24 hrs Concierge  
    {% elif id=='c_002' %}Elevators 
    {% elif id=='c_003' %}Luggage Storage 
    {% elif id=='c_004' %}Multilingual Staff 
    {% elif id=='c_005' %}Laundry 
    {% elif id=='c_006' %}Dry Cleaning 

    {% elif id=='d_001' %}Menu Restaurant 
    {% elif id=='d_002' %}Bar/Lounge 
    {% elif id=='d_003' %}Wine Bar 
    {% elif id=='d_004' %}Buffet 
    {% elif id=='d_005' %}Gluten Free Options
    {% elif id=='d_006' %}Vegan Options
    {% elif id=='d_007' %}Raw Vegan Options 
    {% elif id=='d_008' %}Snacl Bar / Deli 

    {% elif id=='e_001' %}Weddings 
    {% elif id=='e_002' %}Social Events  
    {% elif id=='e_003' %}Event Planning 

    {% elif id=='f_001' %}Cardio 
    {% elif id=='f_002' %}Weights 
    {% elif id=='f_003' %}Classes 
    {% elif id=='f_004' %}Spinning 
    {% elif id=='f_005' %}Personal Trainer 

    {% elif id=='g_001' %}Kids Club 
    {% elif id=='g_002' %}Kids Activities
    {% elif id=='g_003' %}In Room Childcare
    {% elif id=='g_004' %}Cribs

    {% elif id=='h_001' %}Golf Course
    {% elif id=='h_002' %}Casino
    {% elif id=='h_003' %}Pool
    {% elif id=='h_004' %}Live Show

    {% elif id=='i_001' %}In House Doctor
    {% elif id=='i_002' %}In House Nurse
    {% elif id=='i_003' %}Ambulance accesible
    {% elif id=='i_004' %}Fibrillator
    {% elif id=='i_005' %}First Aid Kit
    {% elif id=='i_006' %}X Ray

    {% elif id=='j_001' %}Pets Allowed
    {% elif id=='j_002' %}Pet Menu
    {% elif id=='j_003' %}Dog Walker
    {% elif id=='j_004' %}Dog Care

    {% elif id=='k_001' %}Temperature controlled
    {% elif id=='k_002' %}Towels
    {% elif id=='k_003' %}Bar Service
    {% elif id=='k_004' %}Family Friendly
    {% elif id=='k_005' %}Adult Only

    {% elif id=='l_001' %}Gift Shop
    {% elif id=='l_002' %}Pharmacy
    {% elif id=='l_003' %}Newstand
    {% elif id=='l_004' %}Books
    {% elif id=='l_005' %}Sport
    {% elif id=='l_006' %}Tobacco

    {% elif id=='m_001' %}Interior smoking Area
    {% elif id=='m_002' %}Exterior smoking Area
    {% elif id=='m_003' %}Smoking Rooms Available

    {% elif id=='n_001' %}Airport - Hotel
    {% elif id=='n_002' %}Hotel - Airport
    {% elif id=='n_003' %}Car Rental
    {% elif id=='n_004' %}Parking
    {% elif id=='n_005' %}Valet Parking

    {% else %}
      {{ id }}

    {% endif %}

  </span>
  

{% endmacro %}




