{% extends 'base.html' %}

{% block title %}
  My Ring : {{ title }}
{% endblock %}



{% block content %}


<section class="bg-white" style="padding-bottom:3px;">
  <div class="row tab-margin">
    <div class="col-sm-12 text-center">
      <div class="spa20"></div>
      
        <img class="img-responsive center-block" src="/static/images/ap-icon.png" style="width:300px;"/>
        <h1 class="text-dgray text-5em">AutoPitch</h1>
            <h2 class="text-gray">Product knowledge Base + Voice CTA's tracking system</h2>
            <h3 class="text-lgray ">Convert questions into paying customers on the spot</h3>
      

      <div class="spa20"></div>
    </div>
  </div> 
</section>

<section class="bg-07 top">
      <div class="container">  
        <div class="row">
          <div class="col-sm-12 text-center">
           
            <div class="spa40"></div>
            <h2 class="text-black fs-3">with AutoPitch your company will:</h2>
            <div class="spa40"></div>
          </div>  
        </div>

        <div class="row ">
          <div class="col-sm-offset-1 col-sm-5 margin-20 text-right">
            <h2 class="text-gray">Automatically answer questions about your product</h2>
            <h3 class="text-lgray"></h3>
            <p class="lh-1-5">Provide an incredible level of detail about your product or service including text, photos, videos and promotions. Have great answers prepared for every group demographic group.</p>
          </div>
          <div class="col-sm-5 margin-20">
            <img class="img-responsive right-block" src="/static/images/ai_04.png" style="width:200px;"/>
          </div>
        </div>

        <div class="row ">
          <div class="col-sm-offset-1 col-sm-5 margin-20">
            <img class="img-responsive right-block" src="/static/images/ai_05.png" style="width:200px; float:right;"/>
          </div>
          <div class="col-sm-5 margin-20 text-left">
            <h2 class="text-gray">Serve Voice CTA's</h2>
            <h3 class="text-lgray"></h3>
            <p class="lh-1-5"> Once you have them informed and engaged, don't send them to a website, close them in the spot with actionable Calls To Action. Let them know about promotions and offers</p>
            

            
          </div>
        </div> 

        <div class="row ">
          <div class="col-sm-offset-1 col-sm-5 margin-20 text-right">
            <h2 class="text-gray">Close deals with voice commands</h2>
            <h3 class="text-lgray"></h3>
            <p class="lh-1-5">Once a lead react to your CTA and accept, close the sale and charge their credit card on the fly, send them receipt, tracking number to their mail or SMS.</p>
          </div>
          <div class="col-sm-5 margin-20">
            <img class="img-responsive right-block" src="/static/images/ai_06.png" style="width:200px;"/>
          </div>
        </div> 

        <div class="row ">
          <div class="col-sm-offset-1 col-sm-5 margin-20">
            <img class="img-responsive right-block" src="/static/images/ai_07.png" style="width:200px; float:right;"/>
          </div>
          <div class="col-sm-5 margin-20 text-left">
            <h2 class="text-gray">Track your performance</h2>
            <p class="lh-1-5">Track the most asked questions and best performing CTAs and improve them over time. Increase your AutoPitch performance by performing A/B test on them. </p>
            
          </div>
        </div> 

        <div class="row ">
          <div class="col-sm-offset-1 col-sm-5 margin-20 text-right">
            <h2 class="text-gray">Be multilingual</h2>
            <h3 class="text-lgray"></h3>
            <p class="lh-1-5">Reach customers all around the world in their own language,  provide a seamless experience and learn about the best way to sell them. </p>
          </div>
          <div class="col-sm-5 margin-20">
            <img class="img-responsive right-block" src="/static/images/ai_08.png" style="width:200px;"/>
          </div>
        </div> 


<!-- 
<div class="col-sm-5 margin-20 text-left">
            <h2 class="text-gray">Be accessible 24/7</h2>
            <h3 class="text-lgray">(to any A.I. enabled device worldwide)</h3>
            <p class="lh-1-5">One of the most important parts of serving dynamic data on demand is the ability to be there whenever you are required and to scale your capacity on demand. My Ring give access to Global Content Distribution Networks (CDNs) without the IT overhead.</p>
            
          </div> -->


        <!-- <div class="row margin-40">
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-center">
            <img class="img-responsive left-block" src="/static/images/clip/clead.jpg" style="width:200px;"/>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <h2 class="text-gray">Take the lead in your vertical</h2>
            <p class="text-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            
          </div>
        </div>  -->
        <div class="spa40"></div>
      </div>
    </section>


    <section class="bg-white">
      <div class="container">
        <div class="row margin-60">
          <div class="col-sm-offset-1 col-sm-10 text-center">
              <h2 class="text-sky" style="font-size:3em;">..it always start with a question</h2>
              

            
          </div>
        </div><!--end Row-->
        <div class="row">
          <div class="col-sm-12 text-center">
            <img class="img-responsive center-block" src="/static/images/autopitch_info.png"/>
          </div>
        </div>
      </div>
    </section>

    

{{ cta2() }}

{% endblock %}
