{% extends 'base.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}




{% macro iconbig(title,icon,slug,size) %} <!-- repeated please fix -->
	<a id="pop" 
	        href="/tools/{{ slug }}" 
	        data-toggle="popover" 
	        data-content="{{ title }}"
	    >
	    <img src="/static/images/{{ icon }}" alt="{{ title }}" style="width:{{ size }}px;">
	</a>

{% endmacro %}

{% macro icon(title,subtitle,label,icon,slug,size,float) %}

<div style="float:{{ float }}; padding:0 5px;">
	<a href="#" data-toggle="tooltip" title="{{ title }}">
	    <img class="img-responsive center-block" src="/static/images/{{ icon }}" alt="{{ title }}" style="width:{{ size }}px;">
	</a>
</div>

{% endmacro %}

{% macro ringtab(tab) %}  <!-- repeated please fix -->
	{% if tab=='mod' %}
		<span class="label bg-a">Data Modeling tool</span>
	{% elif tab=='cap' %}
		<span class="label bg-b">Data Capture tool</span>
	{% elif tab=='sha' %}
		<span class="label bg-c">Data Sharing tool</span>
	{% else %}
		<span class="label bg-default">{{ tab }}</span>
	{% endif %}
{% endmacro %}



{% block content %}

<section>
	<div class="row tab-margin">
    
    <div class="col-xs-7 text-center">
		  <a class="toblack" href="/how" >
            <div class="tab-box-c-mini {% if dic['a5']=='hiw' %}tab-on{% endif %}">
	          <i class="fa fa-cog fa-1x"></i>
	          <span class="text-s2 text-1em hidden-xs">How it Works</span>
            </div>
		  </a>

		  <a href="/solutions/share" >
		  	<div class="tab-box-a tb-mini {% if dic['a5']=='sha' %}tab-on{% endif %}">
		  		<h5 class="hidden-xs">Share</h5>
		  		<h5 class="visible-xs">SH</h5>
		  		<div class="rhr2 bg-c"></div>
		  		<div class="spa5"></div>
		  	</div>
		  </a> 
		  <a href="/solutions/capture" >
		  	<div class="tab-box-a tb-mini {% if dic['a5']=='cap' %}tab-on{% endif %}">
		  		<h5 class="hidden-xs">Capture</h5>
		  		<h5 class="visible-xs">CA</h5>
		  		<div class="rhr2 bg-b"></div>
		  		<div class="spa5"></div>
		  	</div>
		  </a> 
		  <a href="/solutions/model" >
		  	<div class="tab-box-a tb-mini {% if dic['a5']=='mod' %}tab-on{% endif %}">
		  		<h5 class="hidden-xs">Modeling</h5>
		  		<h5 class="visible-xs">MO</h5>
		  		<div class="rhr2 bg-a"></div>
		  		<div class="spa5"></div>
		  	</div>
		  </a>
		  
	</div>
	<div class="col-xs-5 text-right hidden-xs">
		<h2 class="text-white font-r" style="float:right; margin-top:-1px; font-size:1.5em; padding-right:100px;">Data Suite / Solutions </h2>
		
 
	</div>
	<div class="row tab-margin">
    <div class="col-xs-12">	
			<div class="tab-content">
			  <div class="tab-pane fade in active tab-section" id="model">
			  <!-- A -->
		    	<div class="row bg-white">
		    		<div class="spa40"></div>
		    	</div>
		    	<div class="row bg-white det-box">
		        	<div class="col-sm-offset-1 col-sm-2">
			        	<img class="img-responsive center-block" src="/static/images/{{ dic['a6'] }}"/>
		        	</div>
		        	<div class="col-sm-6 text-left">
		        		<div style="float:left;">
				        	<h3 class="text-3em">{{ dic['a1'] }}</h3>
				        	<h4 class="text-lgray">{{ dic['a2'] }}</h4>
				        	<hr/>	
			        	</div>
		        	</div>
		        	<div class="col-sm-2 text-right">
		        		{{ ringtab(dic['a5']) }}
		        		<br/>
		        		<span class="label label-mod">Go to Documentation <i class="fa fa-arrow-right"></i></span><br/>
		        		<h5 class="text-lgray">Related:<h5/>

		        		{% if dic['b1'] %}
		        			{{ iconbig(dic['b1'], dic['b2'], dic['b3'],'30') }}
		        		{% endif %}
		        		{% if dic['c1'] %}
		        			{{ iconbig(dic['c1'], dic['c2'], dic['c3'],'30') }}
		        		{% endif %}
		        		{% if dic['d1'] %}
		        			{{ iconbig(dic['d1'], dic['d2'], dic['d3'],'30') }}
		        		{% endif %}
		        		
		        	</div>
		        </div> <!-- close row -->
		        <div class="row bg-white text-left">
		        	<div class="col-sm-offset-3 col-sm-8">
			        	<p class="text-2em text-dgray">{{ dic['a3'] }}</p>
				        <p class="text-dgray">{{ dic['a4'] }}</p>
				        <div class="spa20"></div>

			        	<div class="row">
				        	<div class="col-sm-6">
				        		<h2 class="text-lgray">{{ dic['a9'] }}</h2>	
				        		
							</div>
							<div class="col-sm-6">
				        		<img class="img-responsive right-block" src="/static/images/{{ dic['a10'] }}" style="width:300px;" />
				        	</div>
						</div>	
						
						<div class="row">
							<div class="col-sm-6">
								<div class="spa10"></div>
				        		<img class="img-responsive right-block" src="/static/images/{{ dic['a12'] }}" style="width:300px;" />
				        	</div>
				        	<div class="col-sm-6">
				        		<h2 class="text-lgray">{{ dic['a11'] }} </h2>
				        		
							</div>
						</div>	

						<div class="row">
				        	<div class="col-sm-6">
				        		<h2 class="text-lgray">{{ dic['a13'] }}</h2>	
							</div>
							<div class="col-sm-6">
				        		<img class="img-responsivex right-block" src="/static/images/{{ dic['a14'] }}" style="width:300px;" />
				        	</div>
						</div>	

		        	</div>

		    	</div>
		    	<div class="row bg-white">
		    		<div class="spa80"></div>
		    	</div>
		    	
		    	

			  </div>

			</div> <!-- close tab content -->

		</div>
	</div>	
</section>



    
	
{% endblock %}

