{% extends 'base.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}

{% block content %}


<section>
	<div class="row tab-margin">
    
    <div class="col-xs-7 text-center">
		<div>
			  <a href="/solutions/expose" >
			  	<div class="tab-box-a tab-{{ dic['r3'] }}">
			  		<h5 class="hidden-xs">Expose</h5>
			  		<h5 class="visible-xs">EX</h5>
			  		<div class="rhr2 bg-c"></div>
			  		<div class="spa5"></div>
			  	</div>
			  </a> 
			  <a href="/solutions/capture" >
			  	<div class="tab-box-a tab-{{ dic['r2'] }}">
			  		<h5 class="hidden-xs">Capture</h5>
			  		<h5 class="visible-xs">CA</h5>
			  		<div class="rhr2 bg-b"></div>
			  		<div class="spa5"></div>
			  	</div>
			  </a> 
			  <a href="/solutions/model" >
			  	<div class="tab-box-a tab-{{ dic['r1'] }}">
			  		<h5 class="hidden-xs">Modeling</h5>
			  		<h5 class="visible-xs">MO</h5>
			  		<div class="rhr2 bg-a"></div>
			  		<div class="spa5"></div>
			  	</div>
			  </a>
		</div>   
	</div>
	<div class="col-xs-5 text-center hidden-xs">
		<h2 class="text-white font-r" style="float:right; margin-top:-1px; font-size:1.5em; padding-right:100px;">Solutions/ Modeling</h2>
	</div>

		  
	</div>
	<div class="row tab-margin">
    <div class="col-xs-12 text-center">	
			<div class="tab-content">
			  <div class="tab-pane fade in active tab-section" id="model">
			  <!-- A -->
		    	<div class="row bg-white det-box">
		        	<div class="col-sm-2 text-center">
			        	<img class="img-responsive center-block" src="/static/images/{{ dic['a6'] }}"/>
		        	</div>
		        	<div class="col-sm-9 text-left">

		        		<span class="label bg-b" style="float:right;">{{ dic['a5'] }}</span><br/>
		        		<span class="label label-mod" style="float:right;">Go to Documentation <i class="fa fa-arrow-right"></i></span><br/>
		        		<h5 class="labelx label-modx text-lgray" style="float:right;">Related:<h5/>
		        		<div class="clearboth"></div>
		        		<img class="img-responsive center-block" src="/static/images/r-bfly.png" style="width:30px; float:right;" />
		        		<img class="img-responsive center-block" src="/static/images/spider.png" style="width:30px; float:right;"/>

		        		<div style="float:left;">
				        	<h3 class="text-3em">{{ dic['a1'] }}</h3>
				        	<h4 class="text-lgray">{{ dic['a2'] }}</h4>
				        	<hr/>
				        	
			        	</div>

			        	<div class="spa5 clearboth"></div>
			        	<p class="text-2em text-dgray">{{ dic['a3'] }}</p>
				        <p class="text-dgray">{{ dic['a4'] }}</p>
				        <div class="spa20"></div>

			        	<div class="row">
				        	<div class="col-sm-6">
				        		<h2 class="text-lgray">{{ dic['a7'] }}</h2>	
				        		<p>{{ dic['a8'] }}</p>
							</div>
							<div class="col-sm-6">
				        		<img class="img-responsive right-block" src="/static/images/{{ dic['a9'] }}" style="width:300px;" />
				        	</div>
						</div>	
						
						<div class="row">
							<div class="col-sm-6">
								<div class="spa10"></div>
				        		<img class="img-responsive right-block" src="/static/images/{{ dic['a12'] }}" style="width:300px;" />
				        	</div>
				        	<div class="col-sm-6">
				        		<h2 class="text-lgray">{{ dic['a10'] }} </h2>
				        		<p>{{ dic['a11'] }}</p>
							</div>
						</div>	

						<div class="row">
				        	<div class="col-sm-6">
				        		<h2 class="text-lgray">{{ dic['a13'] }}</h2>	
				        		<p>{{ dic['a14'] }}</p>
							</div>
							<div class="col-sm-6">
				        		<img class="img-responsivex right-block" src="/static/images/{{ dic['a15'] }}" style="width:300px;" />
				        	</div>
						</div>	

		        	</div>

		    	</div>
		    	
		    	

			  </div>

			</div> <!-- close tab content -->

		</div>
	</div>	
</section>



    
	
{% endblock %}

