{% extends 'base.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}




{% macro icontabs(title,icon,slug,size) %}
<table>
  <tr>
    <td>
	   <img src="/static/images/{{ icon }}" alt="{{ title }}" style="width:{{ size }}px;">
    </td>
    <td>
      <p class="text-s1 hidden-xs text-1em" style="line-height:1em; padding-left:10px;">{{ title }}</p> 
    </td>
  </tr>
</table>

{% endmacro %}





{% block content %}

<section>
	<div class="row tab-margin">
    
    <div class="col-xs-7 text-center">
		  <a class="toblack" href="/solutions/model" >
            <div class="tab-box-c-mini {% if dic['a5']=='hiw' %}tab-on{% endif %}">
	          <i class="fa fa-cog fa-1x"></i>
	          <span class="text-s2 text-1em hidden-xs">How it Works</span>
            </div>
		  </a>

		  <a href="/solutions/share" >
		  	<div class="tab-box-a tb-mini {% if dic['a5']=='sha' %}tab-on{% endif %}">
		  		<h5 class="hidden-xs">Share</h5>
		  		<h5 class="visible-xs">SH</h5>
		  		<div class="rhr2 bg-c"></div>
		  		<div class="spa5"></div>
		  	</div>
		  </a> 
		  <a href="/solutions/capture" >
		  	<div class="tab-box-a tb-mini {% if dic['a5']=='cap' %}tab-on{% endif %}">
		  		<h5 class="hidden-xs">Capture</h5>
		  		<h5 class="visible-xs">CA</h5>
		  		<div class="rhr2 bg-b"></div>
		  		<div class="spa5"></div>
		  	</div>
		  </a> 
		  <a href="/solutions/model" >
		  	<div class="tab-box-a tb-mini {% if dic['a5']=='mod' %}tab-on{% endif %}">
		  		<h5 class="hidden-xs">Modeling</h5>
		  		<h5 class="visible-xs">MO</h5>
		  		<div class="rhr2 bg-a"></div>
		  		<div class="spa5"></div>
		  	</div>
		  </a>
		  
	</div>
	<div class="col-xs-5 text-right hidden-xs">
		<h2 class="text-white font-r" style="float:right; margin-top:-1px; font-size:1.5em; padding-right:100px;">Data Suite / Solutions </h2>
		
 
	</div>
	<div class="row tab-margin">
    <div class="col-xs-12">	
			<div class="tab-content">
			  <div class="tab-pane fade in active tab-section" id="model">
			  <!-- A -->
		    	<div class="row bg-white">
		    		<div class="spa20"></div>
		    	</div>
		    	<div class="row bg-white det-box">
		      
		        	<div class="col-sm-offset-1 col-sm-8 text-left">
		        		
				        	<h3 class="text-3em"><i class="fa fa-cog fa-1x"></i> How it works </h3>
				        	<h4 class="text-lgray">{{ dic['a2'] }}</h4>
				        	<hr/>	
			        	
		        	</div>
		        	<div class="col-sm-2 text-right">
		        		
		        		<span class="label label-mod">Go to Full Documentation <i class="fa fa-book"></i></span>

		        	</div>
		      </div> <!-- close row -->

          <div class="row bg-white">
                  

                  <div class="col-xs-3"> <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs-hiw tabs-left">
                      <li>
                        <a class="nostroke" href="#spid" data-toggle="tab">
                          <img src="/static/images/{{ icon }}" alt="{{ title }}" style="width:{{ size }}px;">
                          {{ icontabs(insects.spid.title, insects.spid.icon, insects.spid.slug,'40') }}
                        </a>
                      </li>
                      <li class="active">
                        <a class="nostroke" href="#cica" data-toggle="tab">
                          {{ icontabs(insects.cica.title, insects.cica.icon, insects.cica.slug,'40') }}
                        </a>
                      </li>
                      <li>
                        <a class="nostroke" href="#dfly" data-toggle="tab">
                          {{ icontabs(insects.dfly.title, insects.dfly.icon, insects.dfly.slug,'40') }}
                        </a>
                      </li>
                      <li>
                        <a class="nostroke" href="#mosq" data-toggle="tab">
                          {{ icontabs(insects.mosq.title, insects.mosq.icon, insects.mosq.slug,'40') }}
                        </a>
                      </li>
                      <li>
                        <a class="nostroke" href="#ants" data-toggle="tab">
                          {{ icontabs(insects.ants.title, insects.ants.icon, insects.ants.slug,'40') }}
                        </a>
                      </li>
                      <li>
                        <a class="nostroke" href="#bees" data-toggle="tab">
                          {{ icontabs(insects.bees.title, insects.bees.icon, insects.bees.slug,'40') }}
                        </a>
                      </li>
                      <li>
                        <a class="nostroke" href="#lbug" data-toggle="tab">
                          {{ icontabs(insects.lbug.title, insects.lbug.icon, insects.lbug.slug,'40') }}
                        </a>
                      </li>
                      <li>
                        <a class="nostroke" href="#bfly" data-toggle="tab">
                          {{ icontabs(insects.bfly.title, insects.bfly.icon, insects.bfly.slug,'40') }}
                        </a>
                      </li>
                      
                    </ul>
                  </div>
                  <div class="col-xs-9">
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane fade in active" id="spid">uno</div>
                      <div class="tab-pane fade" id="cica">dos</div>
                      <div class="tab-pane fade" id="dfly">tres</div>
                      <div class="tab-pane fade" id="mosq">cuatro</div>
                      <div class="tab-pane fade" id="worm">cuatro</div>
                      <div class="tab-pane fade" id="ants">cuatro</div>
                      <div class="tab-pane fade" id="bees">cuatro</div>
                      <div class="tab-pane fade" id="lbug">cuatro</div>
                      <div class="tab-pane fade" id="bfly">cuatro</div>
                    </div>
                  </div>

            </div>

		        
		    	<div class="row bg-white">
		    		<div class="spa80"></div>
		    	</div>
		    	
		    	

			  </div>

			</div> <!-- close tab content -->

		</div>
	</div>	
</section>



    
	
{% endblock %}

