{% extends 'base.html' %}

{% block title %}
  
{% endblock %}

{% block content %}

 


  <section class="bg-hand" style="padding-bottom:10px;">
    <div class="bg-05b">  
      <div class="row margin-50">
          <div class="col-sm-offset-2 col-sm-8 text-center">
            <div class="spa5"></div>
            {% if dic['mes1']=="1" %}

              <div class="well" style="margin-top:50px;">
              <i class="fa fa-smile-o fa-2x"></i>
              <h2>Thanks for subscribing to our Beta Test . </h2> 
              <h4 class="text-black">Expected Release: January 2015 </h4>
              </div>
            {% endif %}
            
            <div class="spa40"></div>
            <h1 style="font-size:5em; font-weight:300;" class=" lh-1 fc-b">
              Is your company ready for Artificial Intelligence 
              ?
            </h1>

          </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 text-center">
          
            <h2 class="text-black lw-1em">A.I. is not science fiction anymore, You have it right in your pocket, Siri, Google Now, Cortana  and other similar applications are becoming more relevant to the final consumer</h2>

            <div class="spa30"></div>
      </div>
    </div>
  </section> 



    <section class="bg-white top">
      <div class="container">
        <div class="row">
            
            <div class="col-sm-offset-2 col-sm-8 text-center">
                <div class="spa20"></div>
                

                <img class="img-responsive center-block" src="/static/images/icons/choro.png" style="width:200px;"/>
                
                <h2 class="text-black lh-1" style="font-size:2.5em;">MyRing prepares your company for A.I and Machine learning systems..</h2>
                
              <hr/>
                <p></p>
                <div class="spa10"></div>

              <div class="spa5"></div>
            </div>
            
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="rhr4"></div>
            <div class="spa20"></div>
            <h2 class="text-lgray fs-2">with our solution your company will:</h2>
            <div class="spa20"></div>
          </div>  
        </div>

        <div class="row margin-40">
          <div class="col-sm-offset-1 col-sm-5 margin-20 text-right">
            <h2 class="text-gray">Have a semantically organized catalog</h2>
            <h3 class="text-lgray"></h3>
            <p class="lh-1-5">When Data and content is annotated and organized semantically, A.I. systems can process it faster avoiding misinterpretations and/or holes in the context. In a world full of noise, make your message clearer and stand out from the crowd.</p>
          </div>
          <div class="col-sm-5 margin-20">
            <img class="img-responsive right-block" src="/static/images/icons/ai_01.png" style="width:200px;"/>
          </div>
        </div> 

        <div class="row margin-40">
          <div class="col-sm-offset-1 col-sm-5 margin-20">
            <img class="img-responsive right-block" src="/static/images/icons/ai_02.png" style="width:200px; float:right;"/>
          </div>
          <div class="col-sm-5 margin-20 text-left">
            <h2 class="text-gray">Be accessible 24/7</h2>
            <h3 class="text-lgray">(to any A.I. enabled device worldwide)</h3>
            <p class="lh-1-5">One of the most important parts of serving dynamic data on demand is the ability to be there whenever you are required and to scale your capacity on demand. My Ring give access to Global Content Distribution Networks (CDNs) without the IT overhead.</p>
            
          </div>
        </div> 

        <div class="row margin-40">
          <div class="col-sm-offset-1 col-sm-5 margin-20 text-right">
            <h2 class="text-gray">Serve data & content via an enterprise API</h2>
            <p class="lh-1-5">MyRing exposes your Data in JSON and any other popular format (XML, CSV, Sparq). This means that your company will be open for business with any retail or booking system (Mobile and Desktop). </p>
          </div>
          <div class="col-sm-5 margin-20 text-left">
            <img class="img-responsive left-block" src="/static/images/icons/ai_03.png" style="width:200px;"/>
          </div>
        </div> 

        <!-- <div class="row margin-40">
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-center">
            <img class="img-responsive left-block" src="/static/images/clip/clead.jpg" style="width:200px;"/>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <h2 class="text-gray">Take the lead in your vertical</h2>
            <p class="text-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            
          </div>
        </div>  -->
        <div class="spa40"></div>
      </div>
    </section> 

    <section class="bg-07">
      <div class="container">
        <div class="row margin-60">
          <div class="col-sm-offset-2 col-sm-8 text-center">
              <h2 class="text-black" style="font-size:3em;">Our solutions</h2>
              
              <div class="spa10"></div>
              <p class="fs-1 text-gray">Optimize your company for Artificial Intelligence. Make your product and services available to millions of potential customers around the world. </p>
          </div>
        </div><!--end Row-->
        <div class="row">
          <div class="col-sm-offset-1 col-sm-4 text-left">
            <div style="padding:30px 40px 10px 0;">
            <img class="img-responsive left-block" src="/static/images/logos/blue.png"/>
            </div>
           
            <hr/>
            <img class="img-responsive left-block" src="/static/images/logos/myring02.png" style="width:60px;" alt="My Ring" />
            <p class="text-2-5em text-black">Data Blueprints</p>
            <br/>
            
            <p style="font-size:1.2em;" class="text-gray">Create and deploy an API with your content in minutes.</p>
            <div class="spa10"></div>
            <a href="/blueprints" class="btn btn-default btn-lg btn-ring3">
            More info
            <i class="fa fa-arrow-right text-gray"></i>
            </a>
          </div>
          <div class="col-sm-offset-2 col-sm-4 text-left">
            <div style="padding:30px 40px 10px 0;">
            <img class="img-responsive center-block" src="/static/images/logos/datasuite_logo.png" alt="My Ring" />
            </div>
            <hr/>
            <img class="img-responsive left-block" src="/static/images/logos/myring02.png" style="width:60px;" />
            <p class="text-2-5em text-black">DataSuite</p>
            <br/>
            
            <p style="font-size:1.2em;" class="text-gray">Create sophisticated Data Solutions , deploy via CDNs </p>
            <div class="spa10"></div>
            <a href="/solutions" class="btn btn-default btn-lg btn-ring3">
            More info
            <i class="fa fa-arrow-right text-gray"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
      




    <section class="bg-white">
      <div class="row margin-60">
        
        <div class="col-sm-offset-2 col-sm-8 text-center">
            <h2 class="text-lgray" style="font-size:4em;">Why this</h2>
            <h2 class="text-gray" style="font-size:4em;">is important?</h2>
            <div class="spa10"></div>
            <p>Relevant facts to understand why is important to take action.</p>

          <div class="spa5"></div>
        </div>
      </div><!--end Row-->

        <div class="row margin-40">
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-right">
            <h2 class="text-gray">1. Your traditional Website + SEO strategy might not be enough</h2>
            <p class="text-9">HTML websites, Banners, Search Engine Optimization techniques, Adwords, etc.. they all belong to the Desktop environment that require big screens to display ads and a lot of typing to search. None of this is natural to the Mobile environment and while Desktop will always have an important place in the internet environment, Customers are moving rapidly to the mobile environment. </p>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <img class="img-responsive left-block" src="/static/images/graphics/graph1.png" style="width:300px;"/>
          </div>
        </div> 

        <div class="row margin-40">
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-center">
            <img class="img-responsive left-block" src="/static/images/graphics/graph2.png" style="width:300px;"/>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <h2 class="text-gray">2. Having a responsive HTML Design doesn’t make you mobile Friendly</h2>
            <p class="text-9">Mobile users only spend 14% in their Mobile Device Browsers, even if your company has the best designed responsive website you are missing the 86% of the user available attention.  Having a Mobile Friendly company means that your product and service Data is available to hundreds of geo-localization, retail and booking apps.


            </p>
          </div>
        </div>

        <div class="row margin-40">
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-right">
            <h2 class="text-gray">API's can convert competitors into partners </h2>
            <p class="text-9">
            The API can help turn your competitors into partners by allowing them to build solutions on top of your product’s functionality. This concept lets partners leverage the existing capabilities of your program and enhance it by using their expertise and know-how to create new and innovative solutions.</p>
          </div>
          <div class="col-sm-4 margin-20 text-left">
            <img class="img-responsive left-block" src="/static/images/graphics/cproduct.png" style="width:300px;"/>
          </div>
        </div> 

        <div class="row margin-40">
          <div class="col-sm-12">
            
          </div>
        </div>
    


          
      </div>  
    </section>
    <!-- <section class="bg-grass" style="padding-bottom:10px;">
      <div class="bg-05b">  
        <div class="row margin-50">
            <div class="col-sm-12 text-center">
              <div class="spa20"></div>
              
              <i class="fa fa-quote"></i>
              <h1 style="font-size:5em;" class="text-shadow1">UNLEASH YOUR DATA </h1>
              <h3 class="text-white text-shadow1" style="font-size:2.6em;"> MAKE IT AVAILABLE TO THE WORLD</h3>
              
              <div class="spa20"></div>

            </div>
        </div> 
      </div>    
  </section> -->
    
 

{% endblock %}

