{% extends 'base.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}

{% block content %}
<style>.navbar {top: -63px;}</style>
<section id="header">
      
    <div class="row margin-50">
        <div class="col-sm-12 text-center">
        	<div class="spa50"></div>
        	<img class="center-block" src="/static/images/anillo01.png"  />
      		<h1>{{ title }}</h1>
      		<h2 class="text-white">"The Data Suite"</h2>


      		<div class="spa10"></div>
      	</div>
    </div>  	
      

</section>

    <section class="bg-white top">
      <div class="container">
        <div class="row margin-60">
          <div class="col-sm-offset-2 col-sm-8 text-center">
          	<div class="spa20"></div>
            <h2 class="text-black">DATA IS THE BLOOD OF EVERY SYSTEM, WITHOUT IT EVERY GREAT IDEA OR FANCY DEVICE IS WORTHLESS</h2>
          </div>
        </div>
      </div>
    </section>  
    <section class="bg-03">
      <div class="container">        
        <div class="row margin-60" >
          <!--Section-->
          <div class="col-sm-6 margin-20 text-right">
          	<h2>The Problem</h2>
          	<p>Designing a system that deal with data is not an easy task, it involves putting up with different data formats, modeling flexible schemas, data versioning,  analisys , update , availability, and global  distribution. Designing and Mantaining a system that does all that it’s at the same time expensive and extremely specialized. The result of all this is that only government and companies with deep pockets can afford being in the Data Business.
			</p>
			<a class="more" href="#">LEARN MORE</a>
          </div>
          <div class="col-sm-6 margin-20">
            <img class="img-responsive center-block" src="/static/images/anillo02.png"/>
          </div>
        </div><!--end Row-->
      </div>
    </section>
    <section class="white-bg">
      <div class="container">   
        <div class="row margin-60">
          <!--Section-->
          <div class="col-sm-6 margin-20">
            <img class="img-responsive center-block" src="/static/images/anillo02.png"/>
          </div>
          <div class="col-sm-6 margin-20 text-left">
          	<h2>The solution</h2>
          	<p>MyRing Data Suite it’s an enterprise solution for companies that need to assemble their Data solution. We take over all the complexity and allow low-tech personnel to implement complex Data solutions for their companies. We also help developers and small IT teams to ship faster and to never loose time again in redundant tasks so they can focus in improving their own systems.
			</p>
          </div>

        </div><!--end Row-->
      </div>
    </section>    
    <section class="bg-03">
      <div class="container">
        <div class="row margin-60">
          <div class="col-sm-offset-2 col-sm-8 text-center">
           	<h1 class="text-black">GREAT FOR DEVELOPERS, EASY WITH BUSINESS OWNERS.</h1>
          </div>
        </div><!--end Row-->


          
        <div class="row">  
          
          <!--Section-->
          <div class="col-sm-offset-1 col-sm-4 margin-20 text-right">
          <img class="center-block" src="/static/images/monito01.png"/>
          	<h2 class="text-black">Great for Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

			<h2 class="text-black">Start Small, <br/>Scale huge</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

			<h2 class="text-black">Familiar Ground</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>


          </div>
          
          <!--Section-->
          <div class="col-sm-offset-2 col-sm-4 margin-20 text-left">
          <img class="center-block" src="/static/images/monito01.png"/>
            <h2 class="text-black">Play like a pro</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

			<h2 class="text-black">Test your ideas</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

			<h2 class="text-black">Own your Data</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          
        </div><!--End Row-->
        
        <div class="row margin-60">
          <div class="col-sm-6 text-center">
            <a href="" class="btn btn-default"><h3>Go to Dev Solutions</h3></a>
          </div>
          <div class="col-sm-6 text-center">
            <a href="" class="btn btn-warning"><h3>Go to Dev Solutions</h3></a>
          </div>
        </div>
        
      </div>
    </section>
{% endblock %}

