{% extends 'base.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}



{% block content %}


    <!--Pricing-->
    <section id="pricing" class="bg-03 top">
      <div class="container">
      
        <!--Brand-->
        <div class="row margin-100">
          <div class="col-sm-12">
          	<div class="spa10"></div>
          </div>
        </div>
        
        <div class="row margin-50">
          <div class="col-sm-8 col-sm-offset-2 text-center">
          	<h1 class="text-black" style="font-size:4em;">My Ring <span class="fw500">Data Suite</span></h1>
            <h2 class="text-black">Start Sharing your Data & content with the world</h2>

            <div class="spa10"></div>

            
      		
      			

            {{ iconbig(insects.spid.title, insects.spid.icon, insects.spid.slug,'50') }}
          	{{ iconbig(insects.cica.title, insects.cica.icon, insects.cica.slug,'50') }}
          	{{ iconbig(insects.dfly.title, insects.dfly.icon, insects.dfly.slug,'50') }}
          	{{ iconbig(insects.mosq.title, insects.mosq.icon, insects.mosq.slug,'50') }}
          	{{ iconbig(insects.worm.title, insects.worm.icon, insects.worm.slug,'50') }}
          	{{ iconbig(insects.bees.title, insects.bees.icon, insects.bees.slug,'50') }}
          	{{ iconbig(insects.lbug.title, insects.lbug.icon, insects.lbug.slug,'50') }}
          	{{ iconbig(insects.bfly.title, insects.bfly.icon, insects.bfly.slug,'50') }}

            <br/>

            
          </div>
        </div>
        
        <div class="row margin-50">
          <div class="col-sm-4 pricing-container">
            <br />
            <ul class="list-unstyled pricing-table text-center">
              <li class="headline"><h5 class="white">Starter</h5></li>
              <li class="price"><div class="amount">$0<small>/m</small></div></li>
              <li class="info">Everything you need to get you started</li>
              <li class="features first">500 Items</li>
              <li class="features">10 Rings</li>
              <li class="features">2k API Calls /day</li>
              <li class="features">0.5TB Transfer</li>
              <li class="features last btn-secondary"><a href="#" class="btn btn-default">Start</a></li>
            </ul>
          </div>
          
          <div class="col-sm-4 pricing-container">
            <ul class="list-unstyled pricing-table active text-center">
              <li class="headline"><h5 class="white">Professional</h5></li>
              <li class="price"><div class="amount">$19.99<small>/m</small></div></li>
              <li class="info">Serve Content like a pro</li>
              <li class="features first">500,000 Items</li>
              <li class="features">Unlimited Rings</li>
              <li class="features">30k API Calls /day</li>
              <li class="features">3TB Transfer</li>
              <li class="features last btn-secondary"><a href="#" class="btn btn-default">Start</a></li>
            </ul>
          </div>
          
          <div class="col-sm-4 pricing-container">
            <br />
            <ul class="list-unstyled pricing-table text-center">
              <li class="headline"><h5 class="white">Master</h5></li>
              <li class="price"><div class="amount">$79.99<small>/m</small></div></li>
              <li class="info">High Volume Solution</li>
              <li class="features first">5 Million Items</li>
              <li class="features">Unlimited Rings</li>
              <li class="features">500k API Calls /day</li>
              <li class="features">5TB Transfer</li>
              <li class="features last btn-secondary"><a href="#" class="btn btn-default">Start</a></li>
            </ul>
          </div>
          <div class="col-sm-12 pricing-container text-center">

          <h4 class="text-gray">We provide solutions for companies above this ranges, please contact us for a consultation.</h4>
          </div>
          <!-- SEPAR -->
          
          <div class="col-sm-4 pricing-container">
            <br />
            <ul class="list-unstyled pricing-table text-center">
    					<li class="headline"><h5 class="white">Starter</h5></li>
              <li class="price"><div class="amount">$0<small>/m</small></div></li>
              <li class="info">Everything you need to get you started</li>
              <li class="features first">500 Items</li>
              <li class="features">10 Rings</li>
              <li class="features">2k API Calls /day</li>
              <li class="features">0.5TB Transfer</li>
              <li class="features last btn-secondary"><a href="#" class="btn btn-default">Start</a></li>
    				</ul>
          </div>
          
          <div class="col-sm-4 pricing-container">
            <ul class="list-unstyled pricing-table active text-center">
    					<li class="headline"><h5 class="white">Professional</h5></li>
    					<li class="price"><div class="amount">$19.99<small>/m</small></div></li>
    					<li class="info">The best option for individuals and small companies. </li>
    					<li class="features first">Unlimited Rings</li>
    					<li class="features">5GB Storage</li>
              <li class="features">10 Gb of outbound traffic</li>
              <li class="features">Troubleshooting</li>
              <li class="features">Access to MyRing Resources</li>
    					
    					<li class="features last btn-secondary"><a href="#" class="btn btn-default">Get Started</a></li>
    				</ul>
          </div>
          
          <div class="col-sm-4 pricing-container">
            <br />
            <ul class="list-unstyled pricing-table text-center">
    					<li class="headline"><h5 class="white">Business</h5></li>
    					<li class="price"><div class="amount">$69.99<small>/m</small></div></li>
    					<li class="info">For companies exposing big amounts of Data</li>
    					<li class="features first">Unlimited Rings</li>
              <li class="features">20GB Storage</li>
              <li class="features">Up to 100 Gb of outbound traffic</li>
              <li class="features">Troubleshooting</li>
              <li class="features">Access to MyRing Resources</li>
    					<li class="features last btn-secondary"><a href="#" class="btn btn-default">Get Started</a></li>
    				</ul>
          </div>
          
        </div>
      </div>
    </section>
    <section id="pricing" class="bg-white top">
      <div class="container">    
        <div class="row margin-50 bg-white">
          <div class="col-sm-8 col-sm-offset-2 text-center">
          	<h1 class="text-lgray ">Or maybe you want to start with Combos</h1>
            <h2 class="text-gray">Pre-Designed Data Solutions</h2>
            
          </div>
        </div>  
      </div>
    </section>
    <section id="pricing" class="bg-03 top">
      <div class="container">     
        <div class="row margin-50">
          <div class="col-sm-6 text-left">
          	<h2 class="text-gray fw500">Raw Data</h2>
          	<hr />
            <h3 class="text-gray lw-1em">For those with the need to capture physical products. We designed an easy flow where you capture photos, you write description and additional information, and ready to go! </h3>
          </div>
          <div class="col-sm-6 text-center">
          		<div class="spa40"></div>
          		<table class="table">
          			<tr>
          				<td>
          					<img class="img-responsive center-block" src="/static/images/combo1.png" style="width:40%;" />
          				</td>
          			</tr>
          			<tr>
          				<td>
          					Use: Real State, Hotels, Venues, Restaurants, 
          				</td>
          			</tr>
          		</table>
          </div>
        </div>
      </div>
    </section>    
    <section id="pricing" class="bg-white top">
      <div class="container"> 

        <div class="row">
          <div class="col-sm-6 text-left">
          	<h2 class="text-gray fw500">Product</h2>
          	<hr />
            <h3 class="text-gray">For those with the need to capture physical products. We designed an easy flow where you capture photos, you write description and additional information, and ready to go! </h3>
          </div>
          <div class="col-sm-6 text-center">
          		
          		<table class="table">
          			<tr>
          				<td>
          					<div class="pricing-container">
                      <br />
                      <ul class="list-unstyled pricing-table text-center">
                      
                        <li class="features first">Unlimited use of tools </li>
                        <li class="features">Up To 25 Rings</li>
                        <li class="features">100 Mb Storage to get started</li>
                        <li class="features last btn-secondary"><a href="#" class="btn btn-default">Get Started</a></li>
                      </ul>
                    </div>
          				</td>
          			</tr>
          		</table>
          </div>
        </div>

        <div class="row margin-50">
          <div class="col-sm-6 text-left">
          	<h2 class="text-gray fw500">Content</h2>
          	<hr />
            <h3 class="text-gray">For those with the need to capture physical products. We designed an easy flow where you capture photos, you write description and additional information, and ready to go! </h3>
          </div>
          <div class="col-sm-6 text-center">
          		<div class="spa40"></div>
          		<table class="table">
          			<tr>
          				<td>
          					<img class="img-responsive center-block" src="/static/images/combo1.png" style="width:40%;" />
          				</td>
          			</tr>
          			<tr>
          				<td>
          					Use: Real State, Hotels, Venues, Restaurants, 
          				</td>
          			</tr>
          		</table>
          </div>
        </div>
        
      </div>
    </section>
{% endblock %}





