{% extends 'base.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}

{% block content %}


    <!--Pricing-->
    <section id="pricing" class="bg-03 top">
      <div class="container">
      
        <!--Brand-->
        <div class="row margin-100">
          <div class="col-sm-12">
            
          </div>
        </div>
        
        <div class="row margin-50">
          <div class="col-sm-8 col-sm-offset-2 text-center">
          	<h1 class="text-gray">My Ring Data Suite</h1>
            <h2 class="text-gray">Everything you need to fulfill your Data Needs</h2>
            <img class="img-responsive center-block" src="/static/images/alllogos.png"/>
          </div>
        </div>
        
        <div class="row margin-50">
          
          <div class="col-sm-4 pricing-container">
            <br />
            <ul class="list-unstyled pricing-table text-center">
    					<li class="headline"><h5 class="white">Free</h5></li>
    					<li class="price"><div class="amount">$0<small>/m</small></div></li>
    					<li class="info">Start now, is for free, start working with your Data</li>
    					<li class="features first">Unlimited access to tools</li>
    					<li class="features">Up To 25 Projects</li>
    					<li class="features">1GB Storage</li>
    					<li class="features last btn-secondary"><a href="#">Get Started</a></li>
    				</ul>
          </div>
          
          <div class="col-sm-4 pricing-container">
            <ul class="list-unstyled pricing-table active text-center">
    					<li class="headline"><h5 class="white">Professional</h5></li>
    					<li class="price"><div class="amount">$20<small>/m</small></div></li>
    					<li class="info">2 row section for you package information. You can include all details or icons</li>
    					<li class="features first">Up To 25 Projects</li>
    					<li class="features">10GB Storage</li>
    					<li class="features">Other info</li>
    					<li class="features">Other info</li>
    					<li class="features last btn-secondary"><a href="#">Get Started</a></li>
    				</ul>
          </div>
          
          <div class="col-sm-4 pricing-container">
            <br />
            <ul class="list-unstyled pricing-table text-center">
    					<li class="headline"><h5 class="white">Business</h5></li>
    					<li class="price"><div class="amount">$120<small>/m</small></div></li>
    					<li class="info">2 row section for you package information. You can include all details or icons</li>
    					<li class="features first">Up To 25 Projects</li>
    					<li class="features">10GB Storage</li>
    					<li class="features">Other info</li>
    					<li class="features last btn-secondary"><a href="#">Get Started</a></li>
    				</ul>
          </div>
          
        </div>
      </div>
    </section>
    <section id="pricing" class="bg-white top">
      <div class="container">    
        <div class="row margin-50 bg-white">
          <div class="col-sm-8 col-sm-offset-2 text-center">
          	<h1 class="text-lgray ">Or maybe you want to start with Combos</h1>
            <h2 class="text-gray">Pre-Designed Data Solutions</h2>
            
          </div>
        </div>  
        
        <div class="row margin-50">
          <div class="col-sm-6 text-left">
          	<h2 class="text-gray fw500">Places</h2>
          	<hr />
            <h3 class="text-gray">For those with the need to capture physical products. We designed an easy flow where you capture photos, you write description and additional information, and ready to go! </h3>
          </div>
          <div class="col-sm-6 text-center">
          		<div class="spa40"></div>
          		<table class="table">
          			<tr>
          				<td>
          					<img class="img-responsive center-block" src="/static/images/combo1.png" style="width:40%;" />
          				</td>
          			</tr>
          			<tr>
          				<td>
          					Use: Real State, Hotels, Venues, Restaurants, 
          				</td>
          			</tr>
          		</table>
          </div>
        </div>

        <div class="row margin-50">
          <div class="col-sm-6 text-left">
          	<h2 class="text-gray fw500">Product</h2>
          	<hr />
            <h3 class="text-gray">For those with the need to capture physical products. We designed an easy flow where you capture photos, you write description and additional information, and ready to go! </h3>
          </div>
          <div class="col-sm-6 text-center">
          		<div class="spa40"></div>
          		<table class="table">
          			<tr>
          				<td>
          					<img class="img-responsive center-block" src="/static/images/combo1.png" style="width:40%;" />
          				</td>
          			</tr>
          			<tr>
          				<td>
          					Use: Stores, Fashion, Toys, Clothes, Books, Furniture 
          				</td>
          			</tr>
          		</table>
          </div>
        </div>

        <div class="row margin-50">
          <div class="col-sm-6 text-left">
          	<h2 class="text-gray fw500">Content</h2>
          	<hr />
            <h3 class="text-gray">For those with the need to capture physical products. We designed an easy flow where you capture photos, you write description and additional information, and ready to go! </h3>
          </div>
          <div class="col-sm-6 text-center">
          		<div class="spa40"></div>
          		<table class="table">
          			<tr>
          				<td>
          					<img class="img-responsive center-block" src="/static/images/combo1.png" style="width:40%;" />
          				</td>
          			</tr>
          			<tr>
          				<td>
          					Use: Real State, Hotels, Venues, Restaurants, 
          				</td>
          			</tr>
          		</table>
          </div>
        </div>
        
      </div>
    </section>
{% endblock %}





