{% extends 'base.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}

{% block content %}


<section>
	<div class="row tab-margin">
    <div class="col-sm-12 text-center">
    	<div class="spa30"></div>
    	
    	<h1>Our Solutions</h1>
    </div>
  </div> 
  <div class="row tab-margin">
    <div class="col-sm-offset-3 col-sm-6 text-center">
    	<p class="text-white text-1em ">Our solutions are separated in 3 main categories: Modeling, Capture and Expose, each module it's a standalone solution that can be combined to tackle different Data problems and with other tech. </p>
    	<div class="spa30"></div>
    </div>
  </div>  
  

	<div class="row tab-margin">
    <div class="col-xs-12 text-center">
    		<div style="width:91%;">
    			  <a class="toblack" href="/solutions/model" >
				  	<div class="tab-box-a-mini {% if dic['a5']=='hiw' %}tab-on{% endif %}">
				  		<i class="fa fa-cog fa-2x"></i>
				  		<div class="text-s2 text-1em hidden-xs">How it Works</div>
				  	</div>
				  </a>
				  <a class="toblack" href="/solutions/share" >
				  	<div class="tab-box-a {% if dic['a5']=='sha' %}tab-on{% endif %}">
				  		<div class="spa5"></div>
				  		<img src="/static/images/ico-exp.png" class="img-responsive center-block" style="width:100px;">
				  		
				  		<h2 class="hidden-xs">3. Sharing</h2>
				  		<div class="rhr2 bg-c"></div>
				  		<h3 class="visible-xs">SHA</h3>
				  		
				  		<div class="text-8 tab-box-b hidden-xs text-s2">
				  		Once you have your data ready, it's time to share it with the world. Combine it with other's people data, merge it, fork it, have fun!</div>
				  	</div>
				  </a> 
				  <a class="toblack" href="/solutions/capture" >
				  	<div class="tab-box-a {% if dic['a5']=='cap' %}tab-on{% endif %}">
				  		<div class="spa5"></div>
				  		<img src="/static/images/ico-cap.png" class="img-responsive center-block" style="width:100px;">
				  		<h2 class="hidden-xs">2. Capturing</h2>
				  		<h3 class="visible-xs">CAP</h3>
				  		<div class="rhr2 bg-b"></div>
				  		<div class="text-8 tab-box-b hidden-xs text-s2">
				  		The second step is to Capture your data, this can be text, photos, videos, weather and anything you can imagine.
				  		</div>
				  	</div>
				  </a> 
				  <a class="toblack" href="/solutions/model" >
				  	<div class="tab-box-a {% if dic['a5']=='mod' %}tab-on{% endif %}">
				  		<div class="spa5"></div>
				  		<img src="/static/images/ico-mod.png" class="img-responsive center-block" style="width:100px;">
				  		<h2 class="hidden-xs"> 1. Modeling</h2>
				  		<h3 class="visible-xs">MOD</h3>
				  		<div class="rhr2 bg-a"></div>
				  		<div class="text-8 tab-box-b text-s2 hidden-xs">
				  		The first step is to design the recipent where the Data will be stored, Create your schema and explain what it will be containing.
				  		</div>
				  	</div>
				  </a>
				  
				</div>   
		</div>  
	</div>
	<div class="row tab-margin">
    <div class="col-xs-12 text-center">	

			<div class="tab-content">
			  <div class="tab-pane fade in active tab-section" id="model">

			  <!-- A -->
			{% if dic['a1'] %}	
		    	<div class="row bg-white sol-box">
		        	<div class="col-sm-offset-1 col-sm-2 text-center">
			        	<a href="/tools/{{ dic['a8'] }}">
			        	<img class="img-responsive center-block" src="/static/images/{{ dic['a6'] }}"/>
			        	</a>
		        	</div>
		        	<div class="col-sm-8 text-left">

		        		<span class="label label-mod" style="float:right;">{{ dic['a5'] }}</span><br/>
		        		
			        	<a class="toblack" href="/tools/{{ dic['a8'] }}">
				        	<h3 class="text-3em">{{ dic['a1'] }}</h3>
				        	<h4 class="text-lgray">{{ dic['a2'] }}</h4>
				        	<hr/>
				        	
				        	<div class="spa5 clearboth"></div>
				        	<div class="text-s2 text-2em">{{ dic['a3'] }}
					          	<div class="spa20"></div>
					        </div>
			        		<div class="text-s2" style="width:70%;">{{ dic['a4'] }}</div>
			          		<h3>More Info <i class="fa fa-arrow-right"></i></h3>
						</a>	
		        	</div>
		    	</div>
		    {% endif %}
			 

		    	<!-- B -->
		    {% if dic['b1'] %}	
		    	<div class="row bg-03 sol-box">
		        	<div class="col-sm-offset-1 col-sm-2 text-center">
			        	<a href="/tools/{{ dic['b8'] }}">
			        	<img class="img-responsive center-block" src="/static/images/{{ dic['b6'] }}"/>
			        	</a>
		        	</div>
		        	<div class="col-sm-8 text-left">

		        		<span class="label label-mod" style="float:right;">{{ dic['b5'] }}</span><br/>
		        		
			        	<a class="toblack" href="/tools/{{ dic['b8'] }}">
				        	<h3 class="text-3em">{{ dic['b1'] }}</h3>
				        	<h4 class="text-lgray">{{ dic['b2'] }}</h4>
				        	<hr/>
				        	
				        	<div class="spa5 clearboth"></div>
				        	<div class="text-s2 text-2em">{{ dic['b3'] }}
					          	<div class="spa20"></div>
					        </div>
			        		<div class="text-s2" style="width:70%;">{{ dic['b4'] }}</div>
			          		<h3>More Info <i class="fa fa-arrow-right"></i></h3>
						</a>	
		        	</div>
		    	</div>
		    {% endif %}		

		    	<!-- B -->
		    {% if dic['c1'] %}	
		    	<div class="row bg-white sol-box">
		        	<div class="col-sm-offset-1 col-sm-2 text-center">
			        	<a href="/tools/{{ dic['c8'] }}">
			        	<img class="img-responsive center-block" src="/static/images/{{ dic['c6'] }}"/>
			        	</a>
		        	</div>
		        	<div class="col-sm-8 text-left">

		        		<span class="label label-mod" style="float:right;">{{ dic['c5'] }}</span><br/>
		        		
			        	<a class="toblack" href="/tools/{{ dic['c8'] }}">
				        	<h3 class="text-3em">{{ dic['c1'] }}</h3>
				        	<h4 class="text-lgray">{{ dic['c2'] }}</h4>
				        	<hr/>
				        	
				        	<div class="spa5 clearboth"></div>
				        	<div class="text-s2 text-2em">{{ dic['c3'] }}
					          	<div class="spa20"></div>
					        </div>
			        		<div class="text-s2" style="width:70%;">{{ dic['c4'] }}</div>
			          		<h3>More Info <i class="fa fa-arrow-right"></i></h3>
						</a>	
		        	</div>
		    	</div>
		    {% endif %}

		    	<!-- D -->
		    {% if dic['c1'] %}	
		    	<div class="row bg-03 sol-box">
		        	<div class="col-sm-offset-1 col-sm-2 text-center">
			        	<a href="/tools/{{ dic['d8'] }}">
			        	<img class="img-responsive center-block" src="/static/images/{{ dic['d6'] }}"/>
			        	</a>
		        	</div>
		        	<div class="col-sm-8 text-left">

		        		<span class="label label-mod" style="float:right;">{{ dic['d5'] }}</span><br/>
		        		
			        	<a class="toblack" href="/tools/{{ dic['d8'] }}">
				        	<h3 class="text-3em">{{ dic['d1'] }}</h3>
				        	<h4 class="text-lgray">{{ dic['d2'] }}</h4>
				        	<hr/>
				        	
				        	<div class="spa5 clearboth"></div>
				        	<div class="text-s2 text-2em">{{ dic['d3'] }}
					          	<div class="spa20"></div>
					        </div>
			        		<div class="text-s2" style="width:70%;">{{ dic['d4'] }}</div>
			          		<h3>More Info <i class="fa fa-arrow-right"></i></h3>
						</a>	
		        	</div>
		    	</div>
		    {% endif %}




			  </div>

			</div> <!-- close tab content -->

		</div>
	</div>	
</section>



    
	
{% endblock %}

