{% extends 'base.html' %}

{% block title %}
	My Ring : {{ title }}
{% endblock %}

{% macro ringtab(tab) %}  <!-- repeated please fix -->
	{% if tab=='mod' %}
		<span class="label bg-a">Data Modeling tool</span>
	{% elif tab=='cap' %}
		<span class="label bg-b">Data Capture tool</span>
	{% elif tab=='sha' %}
		<span class="label bg-c">Data Sharing tool</span>
	{% else %}
		<span class="label bg-default">{{ tab }}</span>
	{% endif %}
{% endmacro %}


{% block content %}


<section class="bg-04" style="padding-bottom:3px;">
	<div class="row tab-margin">
    <div class="col-sm-12 text-center">
    	<div class="spa10"></div>
    	
    	<h2 class="text-white" style="font-size:3em;">My Ring <span class="fw500">Data Suite</span></h2>
    	<div class="spa10"></div>
    </div>
  </div> 
<div class="row tab-margin">
    <div class="col-xs-12 text-center">
    		<div style="width:91%;">
    			  <a class="toblack" href="/how" >
				  	<div class="tab-box-a-mini {% if dic['a5']=='hiw' %}tab-on{% endif %}">
				  		<i class="fa fa-cog fa-2x"></i>
				  		<div class="text-s2 text-1em hidden-xs">How it Works</div>
				  	</div>
				  </a>
				  <a class="toblack" href="/solutions/share" >
				  	<div class="tab-box-a {% if dic['a5']=='sha' %}tab-on{% endif %} ">
				  		<div class="spa5"></div>
				  		<img src="/static/images/ico-exp.png" class="img-responsive center-block" style="width:100px;">
				  		
				  		<h3 class="text-dgray fw900 hidden-xs" ><span class="text-lgray">Data</span> Sharing </h3>
				  		<h3 class="text-dgray fw900 visible-xs" ><span class="text-lgray">D</span>S</h3>
				  		<div class="rhr2 bg-c"></div>
				  		<div class="spa5"></div>
				  		
				  		<div class="text-1 tab-box-b hidden-xs text-s2 {% if dic['a5']=='cap' %}text-black{% endif %}">

          					<br/>
				  		Share your data via REST or any API flavor you prefer.
				  			<br/>
				  		</div>
				  	</div>
				  </a> 
				  <a class="toblack" href="/solutions/capture" >
				  	<div class="tab-box-a {% if dic['a5']=='cap' %}tab-on{% endif %}">
				  		<div class="spa5"></div>
				  		<img src="/static/images/ico-cap.png" class="img-responsive center-block" style="width:100px;">
				  		<h3 class="text-dgray fw900 hidden-xs" ><span class="text-lgray">Data</span> Capture </h3>
				  		<h3 class="text-dgray fw900 visible-xs" ><span class="text-lgray">D</span>C</h3>
				  		<div class="rhr2 bg-b"></div>
				  		<div class="spa5"></div>
				  		<div class="text-1 tab-box-b hidden-xs text-s2 {% if dic['a5']=='sha' %}text-black{% endif %}">

				          	<br/>
				  		Capture your data from different sources. 
				  			<br/>
				  		</div>
				  	</div>
				  </a> 
				  <a class="toblack" href="/solutions/model" >
				  	<div class="tab-box-a {% if dic['a5']=='mod' %}tab-on{% endif %}">
				  		<div class="spa5"></div>
				  		<img src="/static/images/ico-mod.png" class="img-responsive center-block" style="width:100px;">
				  		<!-- <h2 class="hidden-xs"> 1. Modeling</h2> -->
				  		<h3 class="text-dgray fw900 hidden-xs" ><span class="text-lgray">Data</span> Modeling </h3>
				  		<h3 class="text-dgray fw900 visible-xs" ><span class="text-lgray">D</span>M</h3>
				  		<div class="rhr2 bg-a"></div>
				  		<div class="spa5"></div>
				  		<div class="text-1 tab-box-b text-s2 hidden-xs {% if dic['a5']=='mod' %}text-black{% endif %}">

          					<br/>
				  		Create your Schema and label your information.
				  			<br/>
				  			
				  		</div>
				  	</div>
				  </a>
				  
				</div>   
		</div>  
	</div>
	<div class="row tab-margin">
    	<div class="col-xs-12 text-center">	

			<div class="tab-content">
			  <div class="tab-pane fade in active tab-section" id="model">

			  <!-- A -->
			{% if dic['a1'] %}

			{{ soluredux(dic['a1'],dic['a2'],dic['a3'],dic['a4'],dic['a5'],dic['a6'],dic['a7'],dic['a8'],"bg-white") }}	
		    	
		    {% endif %}

		      <!-- B -->
			{% if dic['b1'] %}	
		    	{{ soluredux(dic['b1'],dic['b2'],dic['b3'],dic['b4'],dic['b5'],dic['b6'],dic['b7'],dic['b8'],"bg-07") }}
		    {% endif %}

		      <!-- C -->
			{% if dic['c1'] %}	
		    	{{ soluredux(dic['c1'],dic['c2'],dic['c3'],dic['c4'],dic['c5'],dic['c6'],dic['c7'],dic['c8'],"bg-white") }}
		    {% endif %}

		      <!-- D -->
			{% if dic['d1'] %}	
		    	{{ soluredux(dic['d1'],dic['d2'],dic['d3'],dic['d4'],dic['d5'],dic['d6'],dic['d7'],dic['d8'],"bg-07") }}
		    {% endif %}

			  </div>
			</div> <!-- close tab content -->
		</div>
	</div>


</section>

	<section class="bg-07">
      <div class="container">
      	<div class="row">
      		<div class="col-sm-12 text-center">
      			<p class="text-2em text-dgray"> Explore the complete Data Suite</p>
      			<div class="spa30"></div>
      		</div>
      	</div>
      	<div class="row margin-20">
          <!--Section-->
          <div class="col-sm-offset-2 col-sm-2 margin-20 text-center">
            <a href="/solutions/model">
            <h3 class="text-dgray fw900" >Model <span class="text-lgray">Data</span></h3>
            </a>
          	<div class="rhr4 bg-gray"></div>
          	<div class="spa10"></div>
            

            {{ iconbig(insects.spid.title, insects.spid.icon, insects.spid.slug,'50') }}
          	{{ iconbig(insects.cica.title, insects.cica.icon, insects.cica.slug,'50') }}

          </div>
          <div class="col-sm-offset-1 col-sm-2 margin-20 text-center">
          	
          	
          	<a href="/solutions/capture">
            <h3 class="text-dgray fw900" >Capture <span class="text-lgray">Data</span></h3>
            </a>
          	<div class="rhr4 bg-gray"></div>
          	<div class="spa10"></div>
            

          	{{ iconbig(insects.dfly.title, insects.dfly.icon, insects.dfly.slug,'50') }}
          	{{ iconbig(insects.ants.title, insects.ants.icon, insects.ants.slug,'50') }}
          	{{ iconbig(insects.mosq.title, insects.mosq.icon, insects.mosq.slug,'50') }}
          	{{ iconbig(insects.worm.title, insects.worm.icon, insects.worm.slug,'50') }}
          </div>
          <div class="col-sm-offset-1 col-sm-2 margin-20 text-center">
          	
          	<a href="/solutions/share">
            <h3 class="text-dgray fw900" >Share <span class="text-lgray">Data</span></h3>
            </a>
          	<div class="rhr4 bg-gray"></div>
          	<div class="spa10"></div>
            

          	{{ iconbig(insects.bees.title, insects.bees.icon, insects.bees.slug,'50') }}
          	{{ iconbig(insects.lbug.title, insects.lbug.icon, insects.lbug.slug,'50') }}
          	{{ iconbig(insects.bfly.title, insects.bfly.icon, insects.bfly.slug,'50') }}

          </div>
        </div>  

        <div class="row margin-60">
          <div class="col-sm-12 text-center">

          <div class="spa30"></div>
            <a href="/how" class="btn btn-default btn-lg btn-ring2">
            See in detail how the Data Suite works 
            <i class="fa fa-cog text-gray"></i>
            </a>
            <br/>
            <a href="/faq" class="btn btn-default btn-lg btn-ring3">
            Frequent Asked Questions
            <i class="fa fa-arrow-right text-gray"></i>
            </a>

			<br/>

          </div>
        </div>
      </div>
    </section> 
{% endblock %}
