{% extends 'base.html' %}

{% block title %}
  My Ring : {{ title }}
{% endblock %}



{% block content %}


<section class="bg-white" style="padding-bottom:3px;">
  <div class="row tab-margin">
    <div class="col-sm-12 text-center">
      <div class="spa20"></div>
      
        <img class="img-responsive center-block" src="/static/images/blue.png" style="width:300px;"/>
        <h1 class="text-dgray text-5em">Data Blueprints</h1>
            <h2 class="text-gray">Pre-Designed Data Solutions</h2>
            <h3 class="text-lgray ">The fastest way to join Rings</h3>
      

      <div class="spa20"></div>
    </div>
  </div> 


    <section id="pricing" class="bg-07 top">
      <div class="container">     
        <div class="row margin-50">
          <div class="col-sm-3 text-left">
            <img class="img-responsive center-block" src="/static/images/icons/case-46.png" />
          </div>
          <div class="col-sm-5 text-left">
            <h2 class="text-gray fw500">Product & Services</h2>
            <hr />
            <h3 class="text-gray lw-1em">Product & Services refers to those tangible and intangible products that can be sold online. My Ring allows vendors to Inform potential customers about specifications, multilingual descriptions, photos and any additional data that will make them take informed decisions.</h3>

            <div class="spa10"></div> 
            <a href="/signup" class="btn btn-default btn-lg btn-ring2">
            Start Now for free <i class="fa fa-arrow-right text-gray"></i></a>
          </div>
          <div class="col-sm-4">
            <div class="spa20"></div>
            <div class="text-left well">
              <img class="img-responsive left-block" src="/static/images/blue_mini.png" style="width:60px; float:left;" />
              <p class="text-lgray"> Blueprints: </p>
              <div class="clearboth"></div>
              <ul class="r-font">
                <li>Consumer Electronics</li>
                <li>Tools & Accesories</li>
                <li>Travel </li>
                <li>Home improvement </li>
                <li>Apparel </li>
                <li>Office supplies </li>
                <li>Instruments </li>
                <span class="text-lgray">more..</span>
              </ul>  
             </div> 
          </div>
        </div>
      </div>
    </section> 

    <section id="pricing" class="bg-07 top">
      <div class="container">     
        <div class="row margin-50">
          <div class="col-sm-3 text-left">
            <img class="img-responsive center-block" src="/static/images/icons/case-48.png" />
          </div>
          <div class="col-sm-5 text-left">
            <h2 class="text-gray fw500">Digital Content</h2>
            <hr />
            <h3 class="text-gray lw-1em">Digital Content refers to music, information and images that are available for download or distribution on electronic media. MyRing allows content producers to broadcast and monetize directly from their content.</h3>

            <div class="spa10"></div> 
            <a href="/signup" class="btn btn-default btn-lg btn-ring2">
            Start Now for free <i class="fa fa-arrow-right text-gray"></i></a>
          </div>
          <div class="col-sm-4">
            <div class="spa20"></div>
            <div class="text-left well">
              <img class="img-responsive left-block" src="/static/images/blue_mini.png" style="width:60px; float:left;" />
              <p class="text-lgray"> Blueprints: </p>
              <div class="clearboth"></div>
              <ul class="r-font">
                <li>Movies</li>
                <li>Documentaries</li>
                <li>RadioCast</li>
                <li>Comics</li>
                <li>Photos</li>
                <li>Multimedia</li>
                <li>Marketing</li>
                <li>Courses</li>

                <span class="text-lgray">more..</span>
              </ul>  
             </div> 
          </div>
        </div>
      </div>
    </section> 

    <section id="pricing" class="bg-07 top">
      <div class="container">     
        <div class="row margin-50">
          <div class="col-sm-3 text-left">
            <img class="img-responsive center-block" src="/static/images/icons/case-49.png" />
          </div>
          <div class="col-sm-5 text-left">
            <h2 class="text-gray fw500">Events</h2>
            <hr />
            <h3 class="text-gray lw-1em">
            Events refers to any organized activity, celebration, opening, exhibition, meetings etc. for members of the general public or a particular group. MyRing helps event organizers to reach their audiences faster.
             </h3>

            <div class="spa10"></div> 
            <a href="/signup" class="btn btn-default btn-lg btn-ring2">
            Start Now for free <i class="fa fa-arrow-right text-gray"></i></a>
          </div>
          <div class="col-sm-4">
            <div class="spa20"></div>
            <div class="text-left well">
              <img class="img-responsive left-block" src="/static/images/blue_mini.png" style="width:60px; float:left;" />
              <p class="text-lgray"> Blueprints: </p>
              <div class="clearboth"></div>
              <ul class="r-font">
                <li>Concerts</li>
                <li>Art Openings</li>
                <li>Talks & Conferences</li>
                <li>Performance Events</li>
                <li>Festivals </li>
                <li>Sport Events</li>
                <li>Summits</li>
                <span class="text-lgray">more..</span>
              </ul>  
             </div> 
          </div>
        </div>
      </div>
    </section> 

{{ footer2() }}

{% endblock %}
