{% extends 'base.html' %}

{% block title %}
  -My Ring. - {{ title }}
{% endblock %}

{% block content %}


  <section class="bg-hand" style="padding-bottom:10px;">
    <div class="bg-05b">  
      <div class="row margin-50">
          <div class="col-sm-offset-2 col-sm-8 text-center">
            <div class="spa5"></div>
            <div class="rhr3 bg-white" style="float:left;"></div>
            <div class="rhr3 bg-white" style="float:right;"></div>
            
            <div class="spa40"></div>
            <h1 style="font-size:5em; font-weight:300;" class=" lh-1 fc-b">
              Thank you for subscribing to MyRing's Beta testing round. 
            </h1>

          </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 text-center">
          
            <h2 class="text-black lw-1em">We will contact you very soon.</h2>

            <div class="spa30"></div>
      </div>
    </div>
  </section> 

&nbsp;

           
{{ footer() }}  

{% endblock %}

