{% extends 'base-back.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}






{% block content %}

<section class="bp-20 p-50">
  <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div class="rn-box-title">

            <button type="button" class="btn btn-default btn-xs pull-right">
              <i class="fa fa-question-circle"></i>
            </button>
            <p>BLUEPRINTS</p>
          </div>
          <!-- BOX CONTENT -->
          <div class="rn-box-solo">
              <div class="pull-right rn-t3 text-right">
                  <i class="fa fa-dot-circle-o fa-2x" style="color:#CCC; padding:0 10px;"></i>
              </div>
          
              <h3 class="rn-t2"><strong>Choose a Blueprint for your new project</strong></h3>
              <div class="row">
                <!-- COLUMN 1 -->
                <div class="col-sm-3 rn-pad2">
                  <div style="background-color:white;">
                    <ul>
                      <div>Product</div>
                      <div>Service</div>
                      <div>Event</div>
                      <div>Content</div>
                    </ul>
                  </div>  
                </div>
                <!-- COLUMN 2 -->
                <div class="col-sm-9 rn-pad2">
                  <div style="background-color:white;">
                  
                    <div class="text-center" style="width:100px; background-color:gray; padding:6px; margin:3px;">
                      <img class="img-responsive center-block" style=" width:50px;" src="images/r-mosq.png'" ><p>Small Hotel</p>
                    </div>

            
       

                  
                  </div>
              </div>
                
            </div>  
          </div>
          <div class="rn-box-content">
              
            </div><!-- //close box -->
            <div class="">
              <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li class="disable"><a href="#">2</a></li>
                <li class="disable"><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
          </div><!-- close 12 -->   
           
    </div>
  </div>
</section>

    
	
{% endblock %}

