{% extends 'base.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}



{% block content %}


    <!--Pricing-->
    <section id="pricing" class="bg-03 top">
      <div class="container">
      
        <!--Brand-->
        <div class="row margin-100">
          <div class="col-sm-12">
          	<div class="spa10"></div>
          </div>
        </div>
        
        <div class="row margin-50">
          <div class="col-sm-8 col-sm-offset-2 text-center">
          	<h1 class="text-black" style="font-size:4em;">My Ring <span class="fw500">Data Suite</span></h1>
            <h2 class="text-black">Start Sharing your Data & content with the world</h2>
          </div>
        </div>
        

      </div>

      <div class="container">
        
        <div class="row margin-20">
          
          <div class="col-sm-4 pricing-container ">
            <br />
            <ul class="list-unstyled text-center pricebox bg-08">
              <li class="headline" style="background-color:gray;"><h5 class="text-s2 text-2em text-white">Starter</h5></li>
              <li class="price" style="background-color:#CCC;"><h2 class="text-s2 text-1em text-white">$0.00 <span class="text-5">/mo.</span></h2></li>

              <div class="spa20"></div>
              {{ iconbig(insects.dfly.title, insects.dfly.icon, insects.dfly.slug,'20') }}
            {{ iconbig(insects.bees.title, insects.bees.icon, insects.bees.slug,'20') }}
            

              <li class="info">Collaborate with hundred of Global Rings around the world.</li>
              <li class="features first">Up To 10 Rings</li>
              <li class="features">500 Items</li>
              <li class="features">2k API calls /day</li>
              <li class="features">500Mb Transfer Mo.</li>

              
              <!-- <li class="features last btn-secondary"><a href="#">Get Started</a></li> -->
            </ul>
          </div>
          <div class="col-sm-4 pricing-container ">
            <br />
            <ul class="list-unstyled text-center pricebox bg-08">
              <li class="headline" style="height:80px;"><h5 class="text-s2 text-2em text-white">Professional</h5></li>
              <li class="price"><h2 class="text-s2 text-1em text-white">$19.99 <span class="text-5">/mo.</span></h2></li>

              <div class="spa20"></div>
              {{ iconbig(insects.spid.title, insects.spid.icon, insects.spid.slug,'20') }}
            {{ iconbig(insects.cica.title, insects.cica.icon, insects.cica.slug,'20') }}
            {{ iconbig(insects.dfly.title, insects.dfly.icon, insects.dfly.slug,'20') }}
            {{ iconbig(insects.mosq.title, insects.mosq.icon, insects.mosq.slug,'20') }}
            {{ iconbig(insects.lbug.title, insects.lbug.icon, insects.lbug.slug,'20') }}
            {{ iconbig(insects.bees.title, insects.bees.icon, insects.bees.slug,'20') }}
            

              <li class="info">Includes every tool and Server capacity to design and start your own Content Distribution channel</li>
              <li class="features first">Unlimited Rings</li>
              <li class="features">500K Items</li>
              <li class="features">30k API calls /day</li>
              <li class="features">3TB Transfer Mo.</li>
              
              <!-- <li class="features last btn-secondary"><a href="#">Get Started</a></li> -->
            </ul>
          </div>
          <div class="col-sm-4 pricing-container ">
            <br />
            <ul class="list-unstyled text-center pricebox bg-08">
              <li class="headline" style="background-color:#d67500; height:90px;"><h5 class="text-s2 text-2em text-white">Business</h5></li>
              <li class="price" style="background-color:#ff960b;"><h2 class="text-s2 text-1em text-white">$79.99 <span class="text-5">/mo.</span></h2></li>
              <div class="spa20"></div>
              {{ iconbig(insects.spid.title, insects.spid.icon, insects.spid.slug,'20') }}
            {{ iconbig(insects.cica.title, insects.cica.icon, insects.cica.slug,'20') }}
            {{ iconbig(insects.dfly.title, insects.dfly.icon, insects.dfly.slug,'20') }}
            {{ iconbig(insects.mosq.title, insects.mosq.icon, insects.mosq.slug,'20') }}
            {{ iconbig(insects.worm.title, insects.worm.icon, insects.worm.slug,'20') }}
            {{ iconbig(insects.bees.title, insects.bees.icon, insects.bees.slug,'20') }}
            {{ iconbig(insects.lbug.title, insects.lbug.icon, insects.lbug.slug,'20') }}
            {{ iconbig(insects.bfly.title, insects.bfly.icon, insects.bfly.slug,'20') }}

              <li class="info">Full solution for companies that monetize their content & Data. It also include the tools to integrate existent APIs into their workflow.  </li>
              <li class="features first">Unlimited Rings</li>
              <li class="features">5 Million Items</li>
              <li class="features">500k API calls /day</li>
              <li class="features">5TB Transfer Mo.</li>
              <li class="features">Mail assistance</li>
              
              <!-- <li class="features last btn-secondary"><a href="#">Get Started</a></li> -->
            </ul>
          </div>
          
          
        </div>
        
      </div>
    </section>  


    <section id="pricing" class="bg-white top">
      <div class="container">    
        <div class="row margin-50 bg-white">
          <div class="col-sm-8 col-sm-offset-2 text-center">
          	
            <h1 class="text-dgray ">Ring Templates</h1>
            <h2 class="text-gray">Pre-Designed Data Solutions </h2>
            <h3 class="text-lgray ">The easiest way to join your industry Global Ring. </h3>
            
          </div>
        </div>  
      </div>
    </section>

    <section id="pricing" class="bg-07 top">
      <div class="container">     
        <div class="row margin-50">
          <div class="col-sm-2 text-left">
            <img class="img-responsive center-block" src="/static/images/icons/case-46.png" />
          </div>
          <div class="col-sm-6 text-left">
          	<h2 class="text-gray fw500">Product & Services</h2>
          	<hr />
            <h3 class="text-gray lw-1em">9 out of 10 reservations are made online via websites and mobile apps. Offer your product or service to modern Tour Operators via an API. Uplodad photos, maintain inventory , prices and promotions.</h3>

            <a href="/how" class="btn btn-default btn-lg btn-ring2">Join Today for free <i class="fa fa-arrow-right text-gray"></i>
            </a>
          </div>
          <div class="col-sm-4">
          	<div class="spa20"></div>
            <div class="text-left well">
              <div class="text-lgray "><img class="img-responsive left-block" src="/static/images/icons/ring-pro.png" style="width:40px;" /> Global Rings: </div>
              <ul>
                <li>Consumer Electronics</li>
                <li>Tools & Accesories</li>
                <li>Travel </li>
                <li>Home improvement </li>
                <li>Apparel </li>
                <li>Office supplies </li>
                <li>Instruments </li>
                <span class="text-lgray">more..</span>
              </ul>  
             </div> 
          </div>
        </div>
      </div>
    </section> 

    <section id="pricing" class="bg-07 top">
      <div class="container">     
        <div class="row margin-50">
          <div class="col-sm-2 text-left">
            <img class="img-responsive center-block" src="/static/images/icons/case-48.png" />
          </div>
          <div class="col-sm-6 text-left">
            <h2 class="text-gray fw500">Content</h2>
            <hr />
            <h3 class="text-gray lw-1em">9 out of 10 reservations are made online via websites and mobile apps. Offer your product or service to modern Tour Operators via an API. Uplodad photos, maintain inventory , prices and promotions.</h3>

            <a href="/how" class="btn btn-default btn-lg btn-ring2">Join Today for free <i class="fa fa-arrow-right text-gray"></i>
            </a>
          </div>
          <div class="col-sm-4">
            <div class="spa20"></div>
            <div class="text-left well">
              <div class="text-lgray "><img class="img-responsive left-block" src="/static/images/icons/ring-con.png" style="width:40px;" /> Global Rings: </div>
              <ul>
                <li>Movies</li>
                <li>Documentaries</li>
                <li>RadioCast</li>
                <li>Comics</li>
                <li>Photos</li>
                <li>Multimedia</li>
                <li>Marketing</li>
                <li>Courses</li>

                <span class="text-lgray">more..</span>
              </ul>  
             </div> 
          </div>
        </div>
      </div>
    </section> 

    <section id="pricing" class="bg-07 top">
      <div class="container">     
        <div class="row margin-50">
          <div class="col-sm-2 text-left">
            <img class="img-responsive center-block" src="/static/images/icons/case-49.png" />
          </div>
          <div class="col-sm-6 text-left">
            <h2 class="text-gray fw500">Events</h2>
            <hr />
            <h3 class="text-gray lw-1em">9 out of 10 reservations are made online via websites and mobile apps. Offer your product or service to modern Tour Operators via an API. Uplodad photos, maintain inventory , prices and promotions.</h3>

            <a href="/how" class="btn btn-default btn-lg btn-ring2">Join Today for free <i class="fa fa-arrow-right text-gray"></i>
            </a>
          </div>
          <div class="col-sm-4">
            <div class="spa20"></div>
            <div class="text-left well">
              <div class="text-lgray "><img class="img-responsive left-block" src="/static/images/icons/ring-eve.png" style="width:40px;" /> Global Rings: </div>
              <ul>
                <li>Concerts</li>
                <li>Art Openings</li>
                <li>Talks & Conferences</li>
                <li>Performance Events</li>
                <li>Festivals </li>
                <li>Sport Events</li>
                <li>Summits</li>
                <span class="text-lgray">more..</span>
              </ul>  
             </div> 
          </div>
        </div>
      </div>
    </section> 



     
  

{% endblock %}





