{% extends 'base.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}

{% block content %}

<section id="header" class="bg-02">
      
    <div class="row margin-50">
    	<img style="float:right;" src="/static/images/myring01.png" class="logohead" />
        <div class="col-sm-12 text-center">
        	
        	<img class="center-block" src="/static/images/anillo01.png" style="width:100px;" />
      		<h1>{{ title }}</h1>
      		<h2 class="text-white">Everything start well documented</h2>
      		<div class="spa50"></div>
      	</div>
    </div>  	
      

</section>

<section class="white-bg top">

		    <!--Header-->
    
      <div class="container">
        
        <!--Brand-->
        <div class="row margin-100">
          <div class="col-sm-12">
            LOGO HEREs
          </div>
        </div>
        
        <div class="row margin-60">
          <div class="col-sm-12">
            <h2>Full Width</h2>
          </div>
        </div>
        
        <div class="row margin-60">
          
          <!--Section-->
          <div class="col-sm-12 margin-20">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Dolor in reprehenderit in voluptate velit esse cillum. Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a class="more" href="#">LEARN MORE</a>
          </div>
        </div><!--end Row-->
          
        <div class="row">  
          
          <!--Section-->
          <div class="col-sm-4 margin-20">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          
          <!--Section-->
          <div class="col-sm-4 margin-20">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          
          <!--Section-->
          <div class="col-sm-4 margin-20">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          
        </div><!--End Row-->
        
        <div class="row margin-60">
          <div class="col-sm-12 box-gray">
            <h3>Boxed Content</h3>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        
      </div>
    </section>
{% endblock %}

