{% extends 'base.html' %}

{% block title %}
	My Ring - {{ title }}
{% endblock %}



{% block content %}


    <!--Pricing-->
    <section id="pricing" class="bg-03 top">
      <div class="container">
      
        <!--Brand-->
        <div class="row margin-100">
          <div class="col-sm-12">
          	<div class="spa10"></div>
          </div>
        </div>
        
        <div class="row margin-50">
          <div class="col-sm-8 col-sm-offset-2 text-center">
          	<h1 class="text-black" style="font-size:5em;">Join a <span class="fw500">Ring</span> !</h1>
            <h2 class="text-black">and share your Data with the world</h2>

            
          </div>
        </div>
        

      </div>

      <div class="container">
        
        <div class="row">
          
          <div class="col-sm-4 pricing-container ">
            <br />
            <ul class="list-unstyled text-center pricebox bg-08">
              <li class="headline" style="background-color:gray;"><h5 class="text-s2 text-2em text-white">Starter</h5></li>
              <li class="price" style="background-color:#CCC;"><h2 class="text-s2 text-1em text-white">$0.00 <span class="text-5">/mo.</span></h2></li>

              <div class="spa20"></div>

              
              <img class="" src="/static/images/blue.png" style="width:120px;"/>

              <li class="info">Collaborate with hundred of Global Rings around the world.</li>
              <li class="features first">Up To 10 Rings</li>
              <li class="features">500 Items</li>
              <li class="features">2k API calls /day</li>
              <li class="features">500Mb Transfer Mo.</li>

              
              <!-- <li class="features last btn-secondary"><a href="#">Get Started</a></li> -->
            </ul>
          </div>
          <div class="col-sm-4 pricing-container ">
            <br />
            <ul class="list-unstyled text-center pricebox bg-08">
              <li class="headline" style="height:80px;"><h5 class="text-s2 text-2em text-white">Professional</h5></li>
              <li class="price"><h2 class="text-s2 text-1em text-white">$19.99 <span class="text-5">/mo.</span></h2></li>

              <div class="spa20"></div>

              <img class="" src="/static/images/blue.png" style="width:120px;"/>
              <img class="" src="/static/images/datasuite_logo.png" style="width:120px;"/>
            

              <li class="info">Includes every tool and Server capacity to design and start your own Content Distribution channel</li>
              <li class="features first">Unlimited Rings</li>
              <li class="features">500K Items</li>
              <li class="features">30k API calls /day</li>
              <li class="features">3TB Transfer Mo.</li>
              <li class="features">Mail assistance</li>
              
              <!-- <li class="features last btn-secondary"><a href="#">Get Started</a></li> -->
            </ul>
          </div>
          <div class="col-sm-4 pricing-container ">
            <br />
            <ul class="list-unstyled text-center pricebox bg-08">
              <li class="headline" style="background-color:#d67500; height:90px;"><h5 class="text-s2 text-2em text-white">Business</h5></li>
              <li class="price" style="background-color:#ff960b;"><h2 class="text-s2 text-1em text-white">$79.99 <span class="text-5">/mo.</span></h2></li>
              <div class="spa20"></div>

              <img class="" src="/static/images/blue.png" style="width:120px;"/>
              <img class="" src="/static/images/datasuite_logo.png" style="width:120px;"/>
            

              <li class="info">Full solution for companies that monetize their content & Data. It also include the tools to integrate existent APIs into their workflow.  </li>
              <li class="features first">Unlimited Rings</li>
              <li class="features">5 Million Items</li>
              <li class="features">500k API calls /day</li>
              <li class="features">5TB Transfer Mo.</li>
              <li class="features">Mail assistance</li>
              <li class="features">Modeling assistance</li>
              
              <!-- <li class="features last btn-secondary"><a href="#">Get Started</a></li> -->
            </ul>
          </div>
          
          
        </div>
        
      </div>
    </section>  


   


 {{ cta1() }} 
     
  

{% endblock %}





